.mc-team-sec {
	.mc-sec-title1 {
		margin: 0 auto;
		max-width: 920px;
	}
}
.mc-team1-slider {
	display: flex;
	margin-right: -395px;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-right: 0;
	}
}
.mc-team-item1 {
	gap: 30px;
	width: 100%;
	padding-right: 60px;
	background-color: #C7ECDF;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		padding-right: 15px;
		justify-content: inherit !important;
	}
	@media #{$md,$sm,$xs} {
		margin: 0 auto;
		max-width: 772px;
	}
	@media #{$xxs} {
		flex-wrap: wrap;
		padding-right: 0;
		padding-bottom: 40px;
		justify-content: center !important;
	}
	&:is(.ver2) {
		background-color: #C7D3EC;
	}
	&:is(.ver3) {
		background-color: #fff;
	}
	.item-img {
		width: 100%;
		max-width: 385px;
	}
	.item-social {
		left: 0;
		right: 0;
		gap: 14px;
		bottom: 50px;
		display: flex;
		position: absolute;
		justify-content: center;
		a {
			opacity: 0;
			width: 38px;
			height: 38px;
			color: #181B21;
			display: flex;
			font-size: 16px;
			border-radius: 10px;
			align-items: center;
			justify-content: center;
			backdrop-filter: blur(2px);
			background-color: #FFFFFF91;
			transform: translateY(20px);
			transition: 500ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
			&:hover {
				color: #fff;
				background-color: #0EB6BD;
			}
		}
	}
	.item-text {
		max-width: 310px;
		text-align: center;
		h3 {
			font-size: 30px;
			font-weight: 600;
			padding-bottom: 5px;
			@media #{$xxs} {
				font-size: 24px;
			}
		}
		span {
			font-weight: 500;
		}
	}
	&:hover {
		.item-social {
			a {
				opacity: 1;
				transform: translateY(0px);
				&:nth-child(1) {
					transition-delay: 50ms;
				}
				&:nth-child(2) {
					transition-delay: 100ms;
				}
				&:nth-child(3) {
					transition-delay: 150ms;
				}
				&:nth-child(4) {
					transition-delay: 200ms;
				}
			}
		}
	}
}