.mc-treatment-rate-sec {
	z-index: 1;
	@media #{$xxs} {
		padding: 60px 0px;
	}
	.mc-treatment-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: -1;
		&:before {
			top: 0;
			left: 0;
			z-index: 2;
			width: 100%;
			height: 100%;
			content: '';
			position: absolute;
			background: linear-gradient(254.95deg, rgba(9, 80, 145, 0) 7.35%, rgba(3, 24, 43, 0.76) 74.07%);
		}
	}
}
.mc-treat-rate-item {
	width: 100%;
	max-width: 680px;
	padding: 30px 0px;
	border-bottom: 1px solid #FFFFFF1A;
	p {
		color: #fff;
		font-size: 24px;
		font-weight: 700;
		@media #{$xxs} {
			font-size: 20px;
		}
	}
	h3 {
		color: #fff;
		font-size: 85px;
		font-weight: 600;
		@media #{$sm,$xs} {
			font-size: 60px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
		@media #{$xxxs} {
			font-size: 36px;
		}
	}
}