.mc-ft-product-content {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mc-ft-product-1 {
	z-index: 1;
	width: 100%;
	max-width: 825px;
	padding: 180px 105px;
	background-color: var(--mc-pr-c3);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	@media #{$xl} {
		padding: 130px 60px;
	}
	@media #{$sm,$xs,$xxs} {
		padding: 50px 30px;
	}
	.ft-product-img {
		bottom: 0;
		right: 25px;
		z-index: -1;
		@media #{$xl,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.mcft-pro-title {
		.subtitle {
			color: #fff;
			font-size: 14px;
			font-weight: 600;
			padding: 6px 25px;
			border-radius: 32px;
			display: inline-block;
			background-color: #FFFFFF1F;
		}
		.sec_title {
			color: #fff;
			max-width: 600px;
			font-size: 50px;
			font-weight: 700;
			padding-bottom: 20px;
		}
		p {
			color: #fff;
			font-size: 16px;
			font-weight: 600;
		}
	}
	li {
		color: #fff;
		gap: 10px;
		font-size: 15px;
		font-weight: 700;
		margin-bottom: 14px;
		align-items: center;
		display: flex !important;
	}
}
.mc-ft-product-2 {
	max-width: 1095px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.mc-ft-pro-item-1 {
		width: 50%;
		@media #{$sm,$xs,$xxs} {
			width: 100%;
		}
	}
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mc-ft-pro-item-1 {
	z-index: 1;
	display: flex;
	align-items: center;
	padding: 50px 50px;
	background-color: #FFFAD8;
	@media #{$xl} {
		padding: 50px 30px;
	}
	.mc-ft-img {
		right: 0;
		bottom: 0;
		z-index: -1;
		@media #{$xl,$sm,$xs,$xxs} {
			display: none;
		}
	}
	&:nth-child(2), 
	&:nth-child(3) {
		background-color: #EBF5F9;
	}
	&:nth-child(3) {
		@media #{$sm,$xs,$xxs} {
			background-color: #FFFAD8;
		}
	}
	&:nth-child(4) {
		background-color: #BAF4C7;
	}
	.mc-ft-title {
		max-width: 360px;
		span {
			color: #FF8800;
			font-size: 12px;
			font-weight: 700;
			margin-bottom: 10px;
		}
		.pro_title {
			color: #000000;
			line-height: 1;
			font-size: 28px;
			font-weight: 700;
			padding-bottom: 15px;
		}
		p {
			color: #1B22218A;
			padding-bottom: 20px;
		}
		.shop_now {
			color: #07A610;
			font-size: 14px;
			font-weight: 700;
			i {
				margin-left: 5px;
			}
		}
		li {
			gap: 10px;
			font-size: 15px;
			font-weight: 700;
			margin-bottom: 14px;
			align-items: center;
			display: flex !important;
			color: var(--mc-title-color);
		}
	}
}