.mc-spon5-sec {
	.container {
		max-width: 1530px;
	}
}
.mc-spon5-slider {
	.item-img {
		height: 95px;
		display: flex;
		opacity: .23;
		cursor: pointer;
		align-items: center;
		justify-content: center;
		transition: all 500ms ease-in-out;
		&:hover {
			opacity: 1;
		}
	}
}