.mc-cta3-text {
	padding: 215px 0px;
	background-color: #C7EBDE;
	@media #{$lg,$md,$sm,$xs,$xxs} { 
		padding: 120px 0px;
	}
	.mc-cta3-shape1 {
		top: 0;
		right: 0;
		width: 215px;
		height: 100%;
		background-color: #F7CFB2;
		@media #{$lg,$md,$sm,$xs,$xxs} { 
			display: none;
		}
	}
	.mc-sec-title3 {
		.sec_title {
			font-size: 100px;
			@media #{$xxl} {
				font-size: 80px;
			}
			@media #{$xl} {
				font-size: 60px;
			}
			@media #{$lg} {
				font-size: 55px;
			}
			@media #{$md,$sm} {
				font-size: 50px;
			}
			@media #{$xs} {
				font-size: 45px;
			}
			@media #{$xxs} {
				font-size: 40px;
			}
			@media #{$xxxs} {
				font-size: 35px;
			}
		}
		.mc-dec-icon {
			left: 0;
			top: -85px;
			@media #{$lg,$md,$sm,$xs,$xxs} { 
				display: none;
			}
		}
	}
}
.mc-cta3-video {
	width: 100%;
	max-height: 665px;
	video {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.mc-cta3-shape-wrap {
	top: 50%;
	z-index: 2;
	width: 100%;
	height: 180px;
	max-width: 570px;
	position: absolute;
	transform: translateY(-50%);
	@media #{$lg,$md,$sm,$xs,$xxs} { 
		display: none !important;
	}
	.shape1,
	.shape2 {
		width: 50%;
	}
	.shape1 {
		background-color: var(--mc-pr-c6);
	}
	.shape2 {
		background-color: #EABDA9;
	}
}
.mc-cta3-dept {
	bottom: 0;
	position: absolute;
	@media #{$lg,$md,$sm,$xs,$xxs} { 
		position: static;
		flex-wrap: wrap;
	}
	a {
		gap: 15px;
		display: flex;
		padding: 35px 100px;
		align-items: center;
		background-color: #EABDA9;
		@media #{$lg,$md,$sm,$xs,$xxs} { 
			padding: 35px 20px;
		}
		@media #{$md,$sm,$xs,$xxs} { 
			width: 100%;
			justify-content: center;
		}
		@media #{$xxs} {
			flex-wrap: wrap;
		}
		.item-text {
			gap: 15px 30px;
			color: #053765;
			font-size: 36px;
			font-weight: 700;
			white-space: nowrap;
			@media #{$sm,$xs} { 
				font-size: 30px;
			}
			@media #{$xxs} { 
				font-size: 24px;
			}
		}
		&:last-child {
			background-color: var(--mc-pr-c6);
			.item-text {
				color: #fff;
			}
		}
	}
}
.mc-cta4-content {
	z-index: 1;
	border-radius: 10px;
	border: 10px solid #fff;
	background-color: #C7EBDE;
	.mc-dec-icon {
		left: 50px;
		z-index: -1;
		bottom: 50px;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	.mc-sec-title3 {
		margin: 0 auto;
		max-width: 1000px;
		p {
			margin: 0 auto;
			max-width: 585px;
		}
	}
}
.mc-cta4-btn-grp {
	a {
		gap: 15px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		.item-icon {
			color: #fff;
			width: 75px;
			height: 75px;
			font-size: 30px;
			border-radius: 100%;
			background-color: var(--mc-pr-c6);
		}
		.item-text {
			color: #fff;
			font-size: 36px;
			font-weight: 700;
			padding: 5px 35px;
			border-radius: 40px;
			background-color: var(--mc-pr-c6);
			@media #{$xxs} {
				font-size: 28px;
			}
		}
	}
}