@keyframes TXT12 {
	0% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	40% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	50% {
		-webkit-transform: rotate(-15deg);
		transform: rotate(-15deg);
	}
	65% {
		-webkit-transform: rotate(15deg);
		transform: rotate(15deg);
	}
	80% {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
	to {
		-webkit-transform: rotate(0);
		transform: rotate(0);
	}
}
.mc-ab7-content {
	gap: 40px 50px;
	@media #{$xxl,$xl} {
		gap: 40px 20px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.mc-ab7-img-slide {
	overflow: hidden;
	max-width: 605px;
	border-radius: 20px;
	margin-right: -80px;
	.mc-ab7-shape7 {
		left: 0;
		bottom: 0;
		z-index: 2;
		-webkit-animation-duration: 5s;
		animation-duration: 5s;
		-webkit-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		-webkit-animation-name: TXT12;
		animation-name: TXT12;
		-webkit-animation-timing-function: ease-in-out;
		animation-timing-function: ease-in-out;
		transform-box: fill-box;
		-webkit-transform-origin: center;
		transform-origin: center;
		@media #{$sm,$xs,$xxs} {
			display: none;
		}
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		margin-top: 0;
		max-width: 100%;
		margin-right: 0;
		max-height: 700px;
	}
}
.mc-ab7-img {
	img {
		transform: scale(1.2);
		transition: all 1000ms ease-in-out;
	}
}
.swiper-slide-active {
	.mc-ab7-img {
		img {
			transform: scale(1);
		}
	}
}
.mc-ab7-img-active {
	display: flex;
}
.mc-ab7-text {
	max-width: 740px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.mc-sec-title7 {
		p {
			max-width: 645px;
		}
	}
	@media #{$xxl} {
		max-width: 690px;
	}
	@media #{$xl} {
		max-width: 600px;
	}
}
.mc-ab-nav {
	top: 50%;
	left: 0;
	right: 0;
	z-index: 2;
	width: 85%;
	margin: 0 auto;
	position: absolute;
	transform: translateY(-50%);
	justify-content: space-between;
	.mc-ab-prev,
	.mc-ab-next {
		width: 48px;
		height: 48px;
		border-radius: 100%;
		background: #FFFFFF52;
		border: 1px solid #FFFFFF;
		backdrop-filter: blur(12px);
		transition: all 500ms ease-in-out;
		&:hover {
			color: #fff;
			background-color: var(--mc-title-color3);
		}
	}
}

.mc-ab7-mission {
	gap: 40px 50px;	
	@media #{$lg,$md,$sm,$xs,$xxs} {
		align-items: center;
	}
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-img {
		overflow: hidden;
		border-radius: 16px;
		@media #{$lg,$md} {
			max-width: 50%;
		}
		@media #{$sm,$xs,$xxs} {
			max-width: 100%;
		}
	}
}
.item-ab7-accordion {
	width: 100%;
	max-width: 345px;
	@media #{$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.accordion-item,
	.accordion-button:not(.collapsed),
	.accordion-button {
		background-color: transparent;
		box-shadow: none;
	}
	.accordion-item {
		border:  none;
		border-radius: 0;
		position: relative;
		color: var(--mc-body-color3);
	}
	.accordion-button {
		padding: 0;
		border: none;
		font-size: 20px;
		border-radius: 0;
		font-weight: 400;
		position: relative;
		transition: all 500ms ease;
		padding: 16px 0px 14px 28px;
		color: var(--mc-title-color3);
		border-bottom: 1px solid #D9D9D9;
		span {
			display: flex;
			max-width: 85%;
			align-items: center;
			justify-content: center;
		}
	}
	.accordion-button:focus {
		box-shadow: none;
		border-bottom: 1px solid #D9D9D9;
	}
	.accordion-body {
		padding: 0;
		font-size: 16px;
		line-height: 1.5;
		padding-top: 20px;
		padding-bottom: 10px;
	}
	.accordion-button::after {
		top: 18px;
		left: 0px;
		display: flex;
		font-size: 16px;
		content: '\f067';
		font-weight: 400;
		position: absolute;
		align-items: center;
		border-radius: 100%;
		background-image: none;
		justify-content: center;
		font-family: 'Font Awesome 5 Free';
	}
	.accordion-button:not(.collapsed) { 
		color: var(--mc-title-color3);
		&:after {
			transform: rotate(45deg);
		}
	}
}