.mc-appoint7-sec {
	margin: 28px 52px 0px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.mc-appoint7-content {
	gap: 28px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.mc-appoint7-img {
	width: 100%;
	max-width: 780px;
	overflow: hidden;
	border-radius: 20px;
	background-color: var(--mc-title-color3);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		max-height: 450px;
	}
	img {
		mix-blend-mode: luminosity;
	}
}
.mc-appoint7-schedule {
	width: 100%;
	padding: 50px;
	max-width: 490px;
	border-radius: 20px;
	background: #F1F2F2;
	border-bottom: 4px solid rgba(215, 222, 222, 1);
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 50px 30px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	h3 {
		font-size: 28px;
		font-weight: 500;
		letter-spacing: -1px;
	}
	.info-schedule {
		padding: 32px;
		margin-top: 35px;
		border-radius: 16px;
		background-color: #fff;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			padding: 20px 15px;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			width: 100%;
		}
		li {
			gap: 15px;
			margin-bottom: 16px;
			padding-bottom: 16px;
			display: flex !important;
			color: var(--mc-title-color3);
			justify-content: space-between;
			border-bottom: 1px solid rgba(9, 36, 60, .16);
		}
	}
}
.mc-appoint7-req {
	z-index: 1;
	width: 100%;
	padding: 50px;
	max-width: 490px;
	border-radius: 20px;
	background: var(--mc-pr-c12);
	border-bottom: 4px solid rgba(215, 222, 222, 1);
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		padding: 50px 30px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.mc-appt-shape1 {
		right: 0;
		bottom: 0;
		z-index: -1;
	}
	h3 {
		font-size: 28px;
		font-weight: 500;
		margin-bottom: 32px;
		letter-spacing: -1px;
		padding-bottom: 32px;
		border-bottom: 1px solid rgba(9, 36, 60, .20);
	}
	p {
		padding-bottom: 28px;
		color: var(--mc-title-color3);
	}
	.appt-cta {
		gap: 15px;
		.item-icon {
			width: 65px;
			height: 65px;
			border-radius: 100%;
			background-color: #76AE52;
			border: 5px solid #BAF593;
			box-shadow: 0px 0px 14px 0px #00000040;
			img {
				animation: ring 1s ease infinite;
			}
		}
		.item-text {
			font-family: var(--mc-heading6);
			a,span {
				display: block;
			}
			span {

				line-height: 1;
				font-weight: 500;
			}
			a {
				font-size: 26px;
				font-weight: 500;
				line-height: 1.5;
				color: var(--mc-title-color3);
			}
		}
	}
}
.appt-btn {
	color: #fff !important;
	width: 100%;
	overflow: hidden;
	font-weight: 500;
	padding: 12px 20px;
	position: relative;
	border-radius: 10px;
	font-family: var(--mc-heading6);
	border: 2px solid var(--mc-title-color3);
	background-color: var(--mc-title-color3);
	&:before {
		top: 0;
		left: 0;
		content: '';
		height: 110%;
		position: absolute;
		background-color: #fff;
	}
	&:hover {
		background-color: transparent;
		color: var(--mc-title-color3) !important;
		box-shadow: 0 -4px 0 0 var(--mc-title-color3);
	}
}