.mc-testi7-sec {
	margin: 0px 52px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.mc-testi7-content {
	gap: 20px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.mc-testi7-text {
	width: 100%;
	display: flex;
	flex-wrap: wrap;
	max-width: 687px;
	border-radius: 20px;
	padding: 120px 64px 64px;
	flex-direction: column;
	justify-content: space-between;
	background-color: var(--mc-pr-c12);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.mc-sec-title7 {
		margin: 0 auto;
		max-width: 505px;
	}
	p {
		margin: 0 auto;
		padding-top: 35px;
		max-width: 505px;
	}
	.item-btn {
		a {
			width: 100%;
			padding: 14px 15px;
			border-radius: 100px;
			background-color: #fff;
			color: var(--mc-title-color3);
			font-family: var(--mc-heading6);
		}
	}
}
.mc-testi7-slider-wrap {
	width: 100%;
	max-width: 1109px;
	padding: 448px 64px 64px;
	@media #{$xxxl,$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		padding-bottom: 120px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		max-width: 700px;
		padding-top: 120px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
		padding: 40px 40px 80px;
	}
	.item-img-bg {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		overflow: hidden;
		border-radius: 20px;
		&:before {
			left: 0;
			bottom: 0;
			height: 40%;
			width: 100%;
			content: '';
			position: absolute;
			background: linear-gradient(180deg, rgba(9, 36, 60, 0) 0%, rgba(9, 36, 60, 0.64) 100%);
		}
	}
	.mc-testi7-pagi {
		gap: 5px;
		bottom: 0;
		left: 62px;
		z-index: 2;
		color: #fff;
		bottom: 28px;
		display: flex;
		font-size: 80px;
		font-weight: 500;
		position: absolute;
		font-family: var(--mc-heading6);
		@media #{$xxxl,$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
			bottom: 0px;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			font-size: 50px;
		}
		.swiper-pagination-total {
			opacity: .7;
			font-weight: 300;
		}
	}
}
.mc-testi7-slider {
	margin: 0;
	z-index: 2;
	max-width: 688px;
	position: relative;
	border-radius: 16px;
	background-color: #E7EFF8;
	padding: 24px 24px 24px 52px;
	border-bottom: 4px solid #93A3B4;
	@media #{$sm,$xs,$xxs} {
		padding: 50px 30px;
	}
}
.mc-testi7-item {
	gap: 30px 40px;
	justify-content: space-between;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	.item-rate {
		margin-bottom: 25px;
		li {
			color: #E4354A;
			margin-right: 4px;
		}
	}
	.item-text {
		width: 100%;
		max-width: 395px;
		h3 {
			font-size: 26px;
			font-weight: 500;
			line-height: 1.3;
			letter-spacing: -1px;
			padding-bottom: 18px;
		}
	}
	.item-author {
		margin-top: 32px;
		position: relative;
		&:before {
			top: 50%;
			left: 0;
			width: 57%;
			height: 1px;
			content: '';
			position: absolute;
			transform: translateY(-50%);
			background-color: rgba(9, 36, 60, .32);
			@media #{$sm,$xs,$xxs} {
				display: none;
			}
		}
		.inner-item {
			h4 {
				font-size: 20px;
				font-weight: 500;
			}
			span {
				font-size: 16px;
			}
		}
	}
	.item-img {
		overflow: hidden;
		border-radius: 12px;
		@media #{$sm,$xs,$xxs} {
			width: 100%;
			height: 200px;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
	}
}