@keyframes TXT9 {
	0% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	30% {
		-webkit-transform: rotateY(0);
		transform: rotateY(0);
	}
	40% {
		-webkit-transform: rotateY(45deg);
		transform: rotateY(45deg);
	}
	80% {
		-webkit-transform: rotateY(-10turn);
		transform: rotateY(-10turn);
	}
	to {
		-webkit-transform: rotateY(-10turn);
		transform: rotateY(-10turn);
	}
}
.mc-why-c7-sec {
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding: 80px 0px;
	}
	.mc-why-c7-img {
		top: 52px;
		right: 52px;
		overflow: hidden;
		border-radius: 20px;
		@media #{$xxxl} {
			right: -50px;
		}
		@media #{$xxl} {
			right: -150px;
		}
		@media #{$xl} {
			right: -350px;
		}
		@media #{$lg,$md,$sm,$xs,$xxs} {
			max-height: 450px;
			margin-bottom: 40px;
			position: static !important;
			img {
				width: 100%;
				height: 100%;
				object-fit: cover;
			}
		}
		span {
			right: 0;
			bottom: 0;
			position: absolute;
			-webkit-animation-duration: 20s;
			animation-duration: 20s;
			-webkit-animation-iteration-count: infinite;
			animation-iteration-count: infinite;
			-webkit-animation-name: TXT9;
			animation-name: TXT9;
			-webkit-animation-timing-function: ease-in-out;
			animation-timing-function: ease-in-out;
			-webkit-animation-timing-function: ease-out;
			animation-timing-function: ease-out;
			transform-box: fill-box;
			-webkit-transform-origin: center;
			transform-origin: center;
			@media #{$lg,$md,$sm,$xs,$xxs} {
				display: none;
			}
		}
	}
}
.mc-why-c7-text {
	max-width: 860px;
	.mc-sec-title7 {
		max-width: 535px;
	}
}
.mc-why-c7-wrap {
	gap: 20px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mc-wc7-exp {
	width: 180px;
	height: 180px;
	padding: 20px;
	border-radius: 16px;
	background-color: #F1F2F2;
	h3 {
		font-size: 80px;
		font-weight: 500;
	}
	p {
		line-height: 1.2;
		font-size: 20px;
		font-family: var(--mc-heading6);
	}
}
.mc-wc7-list-wrap {
	max-width: 632px;
}
.wc7-list-area {
	gap: 20px 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	li {
		margin-bottom: 20px;
		align-items: center;
		display: flex !important;
		color: var(--mc-title-color3);
	}
	span {
		width: 30px;
		height: 30px;
		display: flex;
		margin-right: 12px;
		border-radius: 100%;
		align-items: center;
		justify-content: center;
		background-color: var(--mc-pr-c12);
	}
}