.mc-footer1-sec {
	background-color: var(--mc-pr-c1);
}
.mc-footer1-cta {
	border-bottom: 1px solid #165C9C;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.mc-ftr1-text {
	h2 {
		color: #fff;
		font-size: 56px;
		max-width: 865px;
		font-weight: 600;
		line-height: 1.15;
		@media #{$lg,$md,$sm} {
			font-size: 35px;
			max-width: 100%;
		}
		@media #{$xs} {
			font-size: 30px;
			max-width: 100%;
		}
		@media #{$xxs} {
			font-size: 28px;
			max-width: 100%;
		}
	}
}
.mc-footer1-menu-newsletter {
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.mc-ftr1-menu {
	li {
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		margin-right: 20px;
		font-family: var(--mc-heading1);
		@media #{$xxs} {
			margin-right: 5px;
		}
		a {
			padding: 5px 18px;
			border-radius: 5px;
			letter-spacing: 1px;
			&:hover {
				color: var(--mc-pr-c1);
				background-color: #fff;
			}
		}
	}
}
.mc-ftr1-newsletter {
	width: 100%;
	max-width: 500px;
	form {
		gap: 15px;
		display: flex;
		position: relative;
		@media #{$xxs} {
			flex-wrap: wrap;
		}
		input {
			width: 100%;
			height: 58px;
			border: none;
			color: #FFFFFF8C;
			max-width: 324px;
			padding-left: 15px;
			border-radius: 6px;
			background: #FFFFFF08;
			border: 1.2px solid #FFFFFF1A;
			&::placeholder {
				color: #FFFFFF8C;
			}
		}
		button {
			color: #fff;
			border: none;
			font-weight: 700;
			border-radius: 5px;
			padding: 15px 40px;
			white-space: nowrap;
			background-color: #0EB6BD;
			transition: all 500ms ease-in-out;
			&:hover {
				color: var(--mc-pr-c1);
				background-color: #F7CFB2;
			}
		}
	}
}
.mc-footer1-copyright {
	color: #fff;
	padding: 45px 0px;
	border-top: 1px solid #165C9C;
	a {
		color: #0EB6BD;
	}
}
.mc-footer1-bottom {
	background-color: #DAF0F6;
	@media #{$sm,$xs,$xxs} {
		padding: 20px 0px;
	}
	.bottom-social {
		a {
			font-size: 14px;
			margin: 0px 15px;
			&:hover {
				color: var(--mc-pr-c1);
			}
		}
	}
	.appoint-btn {
		a {
			position: relative;
			white-space: nowrap;
			font-family: var(--mc-heading1);
			&:before {
				left: 0;
				bottom: 0;
				width: 0;
				height: 1px;
				content: '';
				position: absolute;
				background-color: var(--mc-pr-c1);
				transition: all 500ms ease-in-out;
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}
.mc-ftr1-bottom-content {
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.mc-ftr-part {
	width: 33.33%;
	padding: 25px 0px;
	border-right: 1px solid #000000;
	@media #{$sm,$xs,$xxs} {
		width: 100%;
		border: none;
		padding: 10px 0px;
		text-align: center !important;
		justify-content: center !important;
	}
	&:last-child {
		border-right: none;
	}
}

.cg-footer4-sec {
	z-index: 1;
	background-color: var(--mc-pr-c4);
	.mc-ftr2-shape {
		top: -40%;
		left: 0;
	}
}
.cg-footer4-map {
	width: 100%;
	max-width: 660px;
	padding-right: 30px;
	.cg-map-pin-location .item-map img {
		object-fit: unset;
	}
}
.cg-map-menu {
	li {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
		a {
			color: #fff;
			font-weight: 500;
			&:hover {
				color: var(--mc-pr-c2);
			}
		}
	}
}
.cg-footer4-newslatter {
	gap: 20px 30px;
	flex-wrap: wrap;
	padding-bottom: 40px;
	border-bottom: 1px solid #134152;
	.cg-circle-btn a {
		color: var(--mc-title-color);
		background-color: var(--mc-pr-c2);
	}
}
.cg-footer4-widget {
	border-bottom: 1px solid #134152;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.cg-ftr4-news-text {
	h3,h4 {
		color: var(--mc-title-color);
		font-size: 42px;
		margin-bottom: 0;
		@media #{$xs} {
			font-size: 36px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 26px;
		}
	}
	h4 {
		padding-bottom: 20px;
	}
	h3 {
		a {
			position: relative;
			&:before {
				left: 0;
				bottom: 0;
				height: 2px;
				width: 100%;
				content: '';
				position: absolute;
				background-color: var(--mc-title-color);
			}
		}
	}
}

.cg-footer4-menu-wrap {
	width: 100%;
	gap: 20px 30px;
	max-width: 760px;
	padding-top: 64px;
	padding-left: 110px;
	padding-bottom: 80px;
	border-left: 1px solid #134152;
	@media #{$xl} {
		padding-left: 40px;
	}
	@media #{$lg} {
		padding-left: 40px;
	}
	@media #{$md,$sm,$xs} {
		padding-left: 20px;
	}
	@media #{$md,$sm,$xs} {
		border-left: none;
	}
	@media #{$xs,$xxs} {
		padding-left: 0;
		flex-wrap: wrap;
		border-left: none;
	}
	.widget-title {
		font-size: 22px;
		padding-bottom: 35px;
		color: var(--mc-title-color);
	}
	.menu-widget {
		li {
			margin-bottom: 15px;
			a {
				color: var(--mc-title-color);
				font-weight: 500;
				&:hover {
					color: var(--mc-pr-c3);
					transform: translateX(10px);
				}
			}
		}
	}
}


.cg-footer4-copyright {
	padding: 20px 0px;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 15px 30px;
		flex-wrap: wrap;
	}
	p {
		color: var(--mc-title-color);
		a {
			color: var(--mc-pr-c3);
		}
	}
	form {
		gap: 8px;
		height: 56px;
		display: flex;
		@media #{$xs,$xxs} {
			height: auto;
			flex-wrap: wrap;
			text-align: center;
		}
		input {
			width: 295px;
			height: 56px;
			color: #000;
			border-radius: 6px;
			padding-left: 20px;
			background: #fff;
			border: 1.2px solid #FFFFFF1A;
			&:placeholder {
				color: #000;
			}
		}
		button {
			height: 100%;
			border: none;
			font-weight: 700;
			border-radius: 6px;
			padding: 15px 40px;
			color: var(--mc-title-color);
			transition: all 500ms ease-in-out;
			background-color: var(--mc-pr-c2);
			&:hover {
				color: #fff;
				background-color: var(--mc-pr-c3);
			}
		}
	}
}
.cg-map-pin-location {
	width: 100%;
	height: 360px;
	max-width: 700px;
	.item-map {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.item-pin-wrap {
	width: 155px;
	cursor: pointer;
	position: absolute;
	&:nth-child(2) {
		right: 0;
		top: 55px;
	}
	&:nth-child(3) {
		top: 60px;
		left: 10%;
	}
	&:nth-child(4) {
		top: 30%;
		left: 40%;
		@media #{$xxs} {
			left: 15%;
		}
	}
	&:nth-child(5) {
		top: 50%;
		right: 0;
	}
	&:nth-child(6) {
		top: 60%;
		left: 25%;
	}
	&:nth-child(7) {
		top: 65%;
		left: 55%;
	}
	span {
		position: relative;
		&:before {
			top: -5px;
			left: -5px;
			width: 15px;
			opacity: .2;
			content: '';
			height: 15px;
			position: absolute;
			border-radius: 100%;
			background-color: #0195F7;
		}
		&:after {
			top: -10px;
			left: -11px;
			width: 26px;
			content: '';
			opacity: 0.1;
			height: 26px;
			position: absolute;
			border-radius: 100%;
			background-color: #0195F7;
			animation: borderpls 1.5s infinite cubic-bezier(0.4, 0, 1, 1) both;
		}
		i {
			width: 5px;
			height: 5px;
			display: block;
			border-radius: 100%;
			background-color: var(--mc-pr-c2);
		}
	}
	.pin-text {
		top: -20px;
		left: -53px; 
		opacity: 0;
		color: #fff;
		width: 110px;
		font-size: 14px;
		font-weight: 700;
		padding: 4px 20px;
		text-align: center;
		position: absolute;
		border-radius: 30px;
		visibility: hidden;
		background-color: var(--mc-pr-c3);
		animation: icon-bounce 1s ease-out infinite;
		transition: 400ms cubic-bezier(.57,.21,.69,1.25);
		@media #{$xxs} {
			display: none;
		}

		&:before {
			left: 50%;
			content: '';
			bottom: -10px;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 15px solid var(--mc-pr-c3); 
			transform: translateX(-50%);
		}
	}
	&:hover,
	&:is(.active) {
		.pin-text {
			opacity: 1;
			top: -40px;
			visibility: visible;
		}
	}
}
.cg-footer-cta {
	border-bottom: 1px dashed #D9D9D9;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px 40px;
		flex-wrap: wrap;
		padding: 40px 0px;
		justify-content: center !important; 
	}
}
.cg-ftr-cta-item {
	gap: 15px 20px;
	.item-icon {
		width: 56px;
		height: 56px;
		font-size: 18px;
		border-radius: 100%;
		color: var(--mc-pr-c2);
		background: rgba(255, 255, 255, 1);
		box-shadow: 0px 4px 12px 0px #00000014;
	}
	.item-text {
		span, a {
			display: block;
		}
		a {
			color: var(--mc-title-color);
			font-size: 20px;
			font-weight: 700;
			white-space: nowrap;
		}
	}
}
.cg-footer-cta-wrap {
	gap: 30px 70px;
	padding: 55px 0 55px 65px;
	border-left: 1px dashed #D9D9D9;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		border-left: none;
		padding: 20px 0px;
	}
}
.cg-footer-widget-wrap {
	z-index: 1;
	display: flex;
	gap: 30px 110px;
	justify-content: space-between;
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		gap: 30px 40px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		gap: 30px 20px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
		padding-top: 50px;
	}
	.cg-ftr-shape {
		top: 100px;
		left: -100px;
		opacity: .02;
		z-index: -1;
	}
}
.cg-ftr1-widget {
	.widget-title {
		color: var(--mc-title-color);
		font-size: 22px;
		font-weight: 700;
		margin-bottom: 30px;
	}
	.newslatter-widget {
		max-width: 430px;
		h3 {
			color: var(--mc-title-color);
			font-size: 38px;
			font-weight: 700;
			max-width: 310px;
			padding-bottom: 32px;
		}
		form {
			gap: 15px;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 35px;
			input {
				width: 280px;
				height: 56px;
				color: #FFFFFF8C;
				border-radius: 6px;
				padding-left: 35px;
				background-color: #fff;
				border: 1.2px solid #FFFFFF1A;
				&:placeholder {
					color: #FFFFFF8C;
				}
			}
			button {
				color: var(--mc-title-color);
				border: none;
				font-weight: 700;
				border-radius: 6px;
				padding: 14px 24px;
				transition: all 500ms ease-in-out;
				background-color: var(--mc-pr-c2);
				i {
					font-size: 14px;
					margin-left: 5px;
				}
				&:hover {
					color: #fff;
					background-color: var(--mc-pr-c6);
				}
			}
		}
		p {
			color:  var(--mc-title-color);
			a {
				color: var(--mc-pr-c2);
				position: relative;
				&:before {
					left: 0;
					right: 0;
					bottom: 0;
					width: 0%;
					height: 1px;
					content: '';
					margin: 0 auto;
					position: absolute;
					background-color: var(--mc-pr-c2);
					transition: all 500ms ease-in-out;
				}
				&:hover {
					&:before {
						width: 100%;
					}
				}
			}
		}
	}
	.menu-widget {
		li {
			margin-bottom: 12px;
			a {
				color: var(--mc-title-color);
				font-weight: 500;
				&:hover {
					transform: translateX(6px);
					color: var(--mc-pr-c6);
				}
			}
		}
	}
	.cta-widget {
		h3 {
			color: var(--mc-title-color);
			font-size: 22px;
			font-weight: 700;
			margin-bottom: 30px;
			letter-spacing: -1px;
		}
		.item-text {
			font-family: var(--mc-heading);
			a {
				color: var(--mc-title-color);
				display: block;
			}
			.txt_mail {
				font-size: 14px;
				font-weight: 700;
				margin-bottom: 10px;
			}
			.txt_call {
				font-size: 20px;
				font-weight: 700;
			}
		}
	}
	.cg-circle-btn {
		a {
			background-color: #032532;
			i {
				color: #fff;
			}
		}
		.bi-btn-main b {
			background-color: var(--mc-pr-c2);
		}
	}
}

.cg-footer-bottom {
	h3 {
		line-height: 1;
		font-size: 170px;
		font-weight: 700;
		opacity: .7;
		background: linear-gradient(-180deg, #032532 -29.62%, rgba(186, 231, 249, 0) 141.49%, #032532 219.52%);
		-webkit-background-clip: text;
		-webkit-text-fill-color: transparent;
		@media #{$xl} {
			font-size: 150px;
		}
		@media #{$lg,$md,$sm} {
			font-size: 120px;
		}
		@media #{$xs} {
			font-size: 80px;
		}
		@media #{$xxs} {
			font-size: 60px;
		}
	}
	p {
		color: var(--mc-title-color);
		padding: 40px 0px 25px;
		font-family: var(--mc-heading3);
		a {
			color: var(--mc-pr-c6);
		}
	}
}
.mc-footer4-sec {
	bottom: 0;
	margin: 50px;
	position: sticky;
	border-radius: 20px;
	background-color: var(--mc-pr-c4);
	@media #{$md,$sm,$xs,$xxs} {
		position: relative;
	}
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 50px 0px 0px;
		border-radius: 0;
	}
}
.mc-footer4-widget-area {
	padding-top: 70px;
	position: relative;
	padding-bottom: 70px;
	border-top: 1px solid #232222;
	border-bottom: 1px solid #232222;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
	&:before {
		top: 0;
		left: 50%;
		content: '';
		width: 1px;
		height: 100%;
		position: absolute;
		transform: translateX(-50%);
		background-color: #232222;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	.mc-team2-circle {
		margin: 0;
		width: 282px;
		height: 282px;
	}
	.mc-team2-circle p {
		font-size: 25px;
	}
}
.mc-footer4-text {
	margin: 0 auto;
	max-width: 1020px;
	padding: 60px 0px;
	h2 {
		font-size: 108px;
		font-weight: 700;
		@media #{$sm} {
			font-size: 80px;
		}
		@media #{$xs} {
			font-size: 50px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
		span {
			display: block;
			text-align: right;
		}
	}
}
.mc-footer4-widget {
	.widget-title {
		font-size: 24px;
		font-weight: 700;
		padding-bottom: 20px;
	}
	.menu-widget {
		li {
			margin-bottom: 15px;
			&:last-child {
				margin-bottom: 0;
			}
			a {
				color: var(--mc-title-color);
				&:hover {
					color: var(--mc-pr-c3);
					transform: translateX(10px);
				}
			}
		}
	}
	.cta-widget {
		@media #{$lg} {
			max-width: 240px;
		}
		.cta-info {
			color: var(--mc-title-color);
			h3 {
				font-size: 28px;;
				font-weight: 700;
				padding-top: 10px;
			}
		}
		.cta-social {
			a {
				margin-right: 20px;
				&:last-child {
					margin-right: 0;
				}
				&:hover {
					color: var(--mc-pr-c2);
				}
			}
		}
	}
}
.mc-footer4-copyright {
	gap: 20px;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
	.copyright-menu {
		@media #{$sm,$xs,$xxs} {
			text-align: center;
		}
		li {
			margin-left: 30px;
			@media #{$sm,$xs,$xxs} {
				margin: 0px 10px;
			}
			a {
				font-size: 15px;
				font-weight: 600;
				color: var(--mc-title-color);
				&:hover {
					color: var(--mc-pr-c3);
				}
			}
		}
	}
}
.mc-footer5-content {
	margin: 0 auto;
	gap: 30px 40px;
	max-width: 1635px;
	padding-left: 15px;
	padding-right: 15px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mc-footer5-widget {
	.widget-title {
		font-size: 18px;
		font-weight: 700;
		padding-bottom: 30px;
		color: var(--mc-title-color);
	}
	.newsletter-widget {
		max-width: 595px;
		h4 {
			font-size: 32px;
			font-weight: 700;
			padding-bottom: 30px;
			color: var(--mc-title-color);
		}
		p {
			max-width: 545px;
			padding-bottom: 40px;
		}
		form {
			gap: 15px 30px;
			display: flex;
			margin-bottom: 20px;
			@media #{$xxs} {
				flex-wrap: wrap;
			}
			input {
				width: 100%;
				height: 58px;
				max-width: 480px;
				padding-left: 45px;
				border-radius: 6px;
				border: 1px solid var(--mc-title-color);
			}
			button {
				height: 58px;
				border: none;
				font-weight: 700;
				padding: 0px 20px;
				border-radius: 6px;
				white-space: nowrap;
				color: var(--mc-title-color);
				transition: all 500ms ease-in-out;
				background-color: var(--mc-pr-c2);
				&:hover {
					color: #fff;
					background-color: var(--mc-pr-c3);
				}
			}
		}
		span {
			a {
				text-decoration: underline;
			}
		}
	}
	.menu-widget {
		li {
			margin-bottom: 15px;
			a {
				font-size: 16px;
				font-weight: 500;
				color: var(--mc-title-color);
				&:hover {
					color: var(--mc-pr-c3);
					transform: translateX(10px);
				}
			}
		}
	}
	.cta-widget {
		p {
			max-width: 235px;
			padding-bottom: 25px;
		}
		span {
			font-weight: 700;
			padding-bottom: 25px;
			color: var(--mc-title-color);
		}
		a {
			display: block;
			font-size: 20px;
			font-weight: 700;
			color: var(--mc-title-color);
		}
	}
}
.mc-footer5-copyright {
	gap: 15px 30px;
	margin: 0 auto;
	max-width: 1740px;
	padding: 18px 15px;
	border-top: 1px solid rgba(107, 114, 128, .4);
	@media #{$md,$sm,$xs,$xxs} {
		justify-content: center !important;
	}
	p {
		a {
			color: var(--mc-pr-c2);
		}
		@media #{$md,$sm,$xs,$xxs} {
			text-align: center;
		}
	}
}
.mc-footer6-content {
	gap: 30px 40px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mc-ftr6-widget {
	.widget-title { 
		color: #fff;
		font-size: 22px;
		font-weight: 500;
		position: relative;
		margin-bottom: 35px;
		padding-bottom: 15px;
		border-bottom: 1px solid #FFFFFF29;
		&:is(.ver_2) {
			font-size: 24px;
			&:before {
				background-color: var(--mc-pr-c12);
			}
		}
		&:before {
			width: 60px;
			bottom: -1px;
			height: 2px;
			content: '';
			position: absolute;
			background-color: var(--mc-pr-c10);
		}
	}
	.menu-widget {
		width: 100%;
		max-width: 292px;
		ul {
			&:nth-child(2) {
				margin-left: 40px;
			}
		}
		li {
			width: 100%;
			margin-bottom: 15px;
			a {
				color: #fff;
				&:hover {
					color: var(--mc-pr-c10);
				}
			}
		}
		&:is(.ver_2) {
			li {
				a {
					font-weight: 300;
					&:hover {
						color: var(--mc-pr-c12);
					}
				}
			}
		}
	}
	.work-widget {
		max-width: 282px;
		li {
			color: #fff;
			font-size: 18px;
			padding-bottom: 15px;
			&:last-child {
				span {
					color: #FF5833;
				}
			}
		}
	}
	.cta-widget {
		max-width: 282px;
		.info-cta {
			margin-bottom: 24px;
			&:last-child {
				margin-bottom: 0;
			}
			.item-icon {
				width: 32px;
				height: 32px;
			}
			.item-text {
				margin-left: 24px;
				padding-left: 24px;
				border-left: 1px solid rgba(255, 255, 255, 0.32);
				p {
					color: #fff;
					max-width: 200px;
				}
			}
		}
	}
}
.mc-ftr6-copyright {
	padding: 25px 0px;
	border-top: 1px solid rgba(255, 255, 255, 0.2);
	@media #{$md,$sm,$xs,$xxs} {
		gap: 20px;
		flex-wrap: wrap;
		justify-content: center !important;
	}
	p {
		font-size: 16px;
		color: #FFFFFFA3;
		@media #{$md,$sm,$xs,$xxs} {
			text-align: center;
		}
		a {
			color: var(--mc-pr-c10);
		}
	}
	.copyright-social {
		@media #{$md,$sm,$xs,$xxs} {
			text-align: center;
		}
		a {
			font-size: 16px;
			color: #FFFFFFC2;
			margin-left: 40px;
			@media #{$md,$sm,$xs,$xxs} {
				margin: 0px 15px;
			}
			&:hover {
				color: var(--mc-pr-c10);
			}
		}
	}
}
.mc-footer7-sec {
	margin: 0px 52px;
	margin-top: 24px;
	border-radius: 20px;
	margin-bottom: 24px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin-left: 15px;
		margin-right: 15px;
	}
}
.mc-footer7-content {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mc-ftr7-widget {
	.logo-widget {
		width: 100%;
		max-width: 478px;
	}
}
.mc-ftr7-bottom {
	gap: 30px;
	padding: 25px 0px;
	border-top: 1px solid rgba(255, 255, 255, .24);
	border-bottom: 1px solid rgba(255, 255, 255, .24);
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
	.info-cta {
		a {
			color: #fff;
			display: block;
			@media #{$md,$sm,$xs,$xxs} {
				text-align: center;
			}
		}
	}
	.info-address {
		p {
			color: #fff;
			margin: 0 auto;
			max-width: 292px;
		}
	}
	.info-social {
		gap: 12px;
		display:  flex;
		a {
			width: 44px;
			height: 44px;
			display: flex;
			color: #FFFFFF66;
			border-radius: 100%;
			align-items: center;
			justify-content: center;
			border: 2px solid #FFFFFF66;
			&:hover {
				color: var(--mc-pr-c11);
				border: 2px solid var(--mc-pr-c11);
			}
		}
	}
}
.mc-ftr7-copyright {
	color: #FFFFFF66;
	padding: 25px 0px;
	a {
		color: #fff;
	}
}