.mc-footer1-sec {
	background-color: var(--mc-pr-c1);
}
.mc-footer1-cta {
	border-bottom: 1px solid #165C9C;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.mc-ftr1-text {
	h2 {
		color: #fff;
		font-size: 56px;
		max-width: 865px;
		font-weight: 600;
		line-height: 1.15;
		@media #{$lg,$md,$sm} {
			font-size: 35px;
			max-width: 100%;
		}
		@media #{$xs} {
			font-size: 30px;
			max-width: 100%;
		}
		@media #{$xxs} {
			font-size: 28px;
			max-width: 100%;
		}
	}
}
.mc-footer1-menu-newsletter {
	@media #{$md,$sm,$xs,$xxs} {
		gap: 30px;
		flex-wrap: wrap;
	}
}
.mc-ftr1-menu {
	li {
		color: #fff;
		font-size: 12px;
		font-weight: 700;
		margin-right: 20px;
		font-family: var(--mc-heading1);
		@media #{$xxs} {
			margin-right: 5px;
		}
		a {
			padding: 5px 18px;
			border-radius: 5px;
			letter-spacing: 1px;
			&:hover {
				color: var(--mc-pr-c1);
				background-color: #fff;
			}
		}
	}
}
.mc-ftr1-newsletter {
	width: 100%;
	max-width: 500px;
	form {
		gap: 15px;
		display: flex;
		position: relative;
		@media #{$xxs} {
			flex-wrap: wrap;
		}
		input {
			width: 100%;
			height: 58px;
			border: none;
			color: #FFFFFF8C;
			max-width: 324px;
			padding-left: 15px;
			border-radius: 6px;
			background: #FFFFFF08;
			border: 1.2px solid #FFFFFF1A;
			&::placeholder {
				color: #FFFFFF8C;
			}
		}
		button {
			color: #fff;
			border: none;
			font-weight: 700;
			border-radius: 5px;
			padding: 15px 40px;
			white-space: nowrap;
			background-color: #0EB6BD;
			transition: all 500ms ease-in-out;
			&:hover {
				color: var(--mc-pr-c1);
				background-color: #F7CFB2;
			}
		}
	}
}
.mc-footer1-copyright {
	color: #fff;
	padding: 45px 0px;
	border-top: 1px solid #165C9C;
	a {
		color: #0EB6BD;
	}
}
.mc-footer1-bottom {
	background-color: #DAF0F6;
	@media #{$sm,$xs,$xxs} {
		padding: 20px 0px;
	}
	.bottom-social {
		a {
			font-size: 14px;
			margin: 0px 15px;
			&:hover {
				color: var(--mc-pr-c1);
			}
		}
	}
	.appoint-btn {
		a {
			position: relative;
			white-space: nowrap;
			font-family: var(--mc-heading1);
			&:before {
				left: 0;
				bottom: 0;
				width: 0;
				height: 1px;
				content: '';
				position: absolute;
				background-color: var(--mc-pr-c1);
				transition: all 500ms ease-in-out;
			}
			&:hover {
				&:before {
					width: 100%;
				}
			}
		}
	}
}
.mc-ftr1-bottom-content {
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.mc-ftr-part {
	width: 33.33%;
	padding: 25px 0px;
	border-right: 1px solid #000000;
	@media #{$sm,$xs,$xxs} {
		width: 100%;
		border: none;
		padding: 10px 0px;
		text-align: center !important;
		justify-content: center !important;
	}
	&:last-child {
		border-right: none;
	}
}

.cg-footer4-sec {
	background-color: var(--mc-pr-c4);
}
.cg-footer4-map {
	width: 100%;
	max-width: 660px;
	padding-right: 30px;
	.cg-map-pin-location .item-map img {
		object-fit: unset;
	}
}
.cg-map-menu {
	li {
		margin-right: 20px;
		&:last-child {
			margin-right: 0;
		}
		a {
			color: #fff;
			font-weight: 500;
			&:hover {
				color: var(--mc-pr-c2);
			}
		}
	}
}
.cg-footer4-newslatter {
	gap: 20px 30px;
	flex-wrap: wrap;
	padding-bottom: 40px;
	border-bottom: 1px solid #134152;
	.cg-circle-btn a {
		color: var(--mc-title-color);
		background-color: var(--mc-pr-c2);
	}
}
.cg-footer4-widget {
	border-bottom: 1px solid #134152;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.cg-ftr4-news-text {
	h3,h4 {
		color: var(--mc-title-color);
		font-size: 42px;
		margin-bottom: 0;
		@media #{$xs} {
			font-size: 36px;
		}
		@media #{$xxs} {
			font-size: 30px;
		}
		@media #{$xxxs} {
			font-size: 26px;
		}
	}
	h4 {
		padding-bottom: 20px;
	}
	h3 {
		a {
			position: relative;
			&:before {
				left: 0;
				bottom: 0;
				height: 2px;
				width: 100%;
				content: '';
				position: absolute;
				background-color: var(--mc-title-color);
			}
		}
	}
}

.cg-footer4-menu-wrap {
	width: 100%;
	gap: 20px 30px;
	max-width: 760px;
	padding-top: 64px;
	padding-left: 110px;
	padding-bottom: 80px;
	border-left: 1px solid #134152;
	@media #{$xl} {
		padding-left: 40px;
	}
	@media #{$lg} {
		padding-left: 40px;
	}
	@media #{$md,$sm,$xs} {
		padding-left: 20px;
	}
	@media #{$md,$sm,$xs} {
		border-left: none;
	}
	@media #{$xs,$xxs} {
		padding-left: 0;
		flex-wrap: wrap;
		border-left: none;
	}
	.widget-title {
		font-size: 22px;
		padding-bottom: 35px;
		color: var(--mc-title-color);
	}
	.menu-widget {
		li {
			margin-bottom: 15px;
			a {
				color: var(--mc-title-color);
				font-weight: 500;
				&:hover {
					color: var(--mc-pr-c3);
					transform: translateX(10px);
				}
			}
		}
	}
}


.cg-footer4-copyright {
	padding: 20px 0px;
	@media #{$md,$sm,$xs,$xxs} {
		gap: 15px 30px;
		flex-wrap: wrap;
	}
	p {
		color: var(--mc-title-color);
		a {
			color: var(--mc-pr-c3);
		}
	}
	form {
		gap: 8px;
		height: 56px;
		display: flex;
		@media #{$xs,$xxs} {
			height: auto;
			flex-wrap: wrap;
			text-align: center;
		}
		input {
			width: 295px;
			height: 56px;
			color: #000;
			border-radius: 6px;
			padding-left: 20px;
			background: #fff;
			border: 1.2px solid #FFFFFF1A;
			&:placeholder {
				color: #000;
			}
		}
		button {
			height: 100%;
			border: none;
			font-weight: 700;
			border-radius: 6px;
			padding: 15px 40px;
			color: var(--mc-title-color);
			transition: all 500ms ease-in-out;
			background-color: var(--mc-pr-c2);
			&:hover {
				color: #fff;
				background-color: var(--mc-pr-c3);
			}
		}
	}
}
.cg-map-pin-location {
	width: 100%;
	height: 360px;
	max-width: 700px;
	.item-map {
		width: 100%;
		height: 100%;
		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}

.item-pin-wrap {
	width: 155px;
	cursor: pointer;
	position: absolute;
	&:nth-child(2) {
		right: 0;
		top: 55px;
	}
	&:nth-child(3) {
		top: 60px;
		left: 10%;
	}
	&:nth-child(4) {
		top: 30%;
		left: 40%;
		@media #{$xxs} {
			left: 15%;
		}
	}
	&:nth-child(5) {
		top: 50%;
		right: 0;
	}
	&:nth-child(6) {
		top: 60%;
		left: 25%;
	}
	&:nth-child(7) {
		top: 65%;
		left: 55%;
	}
	span {
		position: relative;
		&:before {
			top: -5px;
			left: -5px;
			width: 15px;
			opacity: .2;
			content: '';
			height: 15px;
			position: absolute;
			border-radius: 100%;
			background-color: #0195F7;
		}
		&:after {
			top: -10px;
			left: -11px;
			width: 26px;
			content: '';
			opacity: 0.1;
			height: 26px;
			position: absolute;
			border-radius: 100%;
			background-color: #0195F7;
			animation: borderpls 1.5s infinite cubic-bezier(0.4, 0, 1, 1) both;
		}
		i {
			width: 5px;
			height: 5px;
			display: block;
			border-radius: 100%;
			background-color: var(--mc-pr-c2);
		}
	}
	.pin-text {
		top: -20px;
		left: -53px; 
		opacity: 0;
		color: #fff;
		width: 110px;
		font-size: 14px;
		font-weight: 700;
		padding: 4px 20px;
		text-align: center;
		position: absolute;
		border-radius: 30px;
		visibility: hidden;
		background-color: var(--mc-pr-c3);
		animation: icon-bounce 1s ease-out infinite;
		transition: 400ms cubic-bezier(.57,.21,.69,1.25);
		@media #{$xxs} {
			display: none;
		}

		&:before {
			left: 50%;
			content: '';
			bottom: -10px;
			position: absolute;
			border-left: 8px solid transparent;
			border-right: 8px solid transparent;
			border-top: 15px solid var(--mc-pr-c3); 
			transform: translateX(-50%);
		}
	}
	&:hover,
	&:is(.active) {
		.pin-text {
			opacity: 1;
			top: -40px;
			visibility: visible;
		}
	}
}