@media (prefers-reduced-motion: no-preference) {
	:root {
		scroll-behavior: inherit;
	}
}
body {
	margin: 0;
	padding: 0;
	z-index: 1;
	font-size: 18px;
	margin: 0 auto;
	line-height: 1.555;
	position: relative;
	overflow-x: hidden;
	color: var(--mc-body-color);
	font-family: var(--mc-body-font);
	background-color: #fff;     
	-moz-osx-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased; 
	.container {
		max-width: 1424px;
	}
	.row {
		--bs-gutter-x: 32px;
	}
	.mfp-iframe-holder .mfp-close {
		right: 0;
		padding: 0;
		top: -40px;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
	button.mfp-close {
		right: 0;
		padding: 0;
		color: #fff;
		width: 40px;
		height: 40px;
		text-align: center;
		background-size: 200%, 1px;
	}
}
/*Home Reset area*/
/*-------------------------*/
.home-1 {
	font-weight: 500;
	background-color: #EAFAFF;
}
.home-2 {
	font-weight: 500;
	background-color: #fff;
}
// body::-webkit-scrollbar {
// 	width: 6px;
// }

// body::-webkit-scrollbar-track {
// 	box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
// }

// body::-webkit-scrollbar-thumb {
// 	outline: none;
// 	border-radius: 0px;
// 	background-size: 200%, 1px;
// 	background-color: var(--tz-prime-c);
// }
/*Reset area*/
/*-------------------------*/
.ul-li ul {
	margin: 0;
	padding: 0;
	li{
		list-style: none;
		display: inline-block;
	}
}
.ul-li-block ul {
	margin:0;
	padding: 0;
	li{
		display: block;
		list-style: none;
	}
}

.headline-1 h1,
.headline-1 h2,
.headline-1 h3,
.headline-1 h4,
.headline-1 h5,
.headline-1 h6 {
	line-height: 1;
	font-weight: 400;
	margin-bottom: 0;
	color: var(--mc-title-color);
	font-family: var(--mc-heading1);
}
.headline-2 h1,
.headline-2 h2,
.headline-2 h3,
.headline-2 h4,
.headline-2 h5,
.headline-2 h6 {
	line-height: 1;
	font-weight: 400;
	margin-bottom: 0;
	color: var(--mc-title-color);
	font-family: var(--mc-heading2);
}
#preloader { 
	position: fixed; 
	left: 0;
	top: 0;
	z-index: 99999; 
	width: 100%; 
	height: 100%;
	overflow: visible;
	background-color: #fff;
	.preloader-logo {
		left: 0;
		top: 50%;
		right: 0;
		text-align: center;
		position: absolute;
		transform: translateY(-50%);
		img {
			animation: TXTImgIn 1500ms ease-in-out infinite;
		}
	}
}

[data-background] {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

img {
	max-width: 100%;
	height: auto;
}

button {
	cursor: pointer;
}
.form-control:focus,
button:visited,
button.active,
button:hover,
button:focus,
input:visited,
input.active,
input:hover,
input:focus,
textarea:hover,
textarea:focus,
a:hover,
a:focus,
a.active,
select,
select:hover,
select:focus,
select:visited {
	outline: none;
	box-shadow: none;
	text-decoration: none;
	color: inherit;
}
a, span {
	display: inline-block;
	color: inherit;
	font-size: inherit;
	font-family: inherit;
	font-weight: inherit;
	text-transform: inherit;
	text-decoration: none;
	transition: inherit;
}
a {
	color: inherit;
	text-decoration:none;
	transition: 500ms all ease;
	&:hover, &:focus{
		text-decoration: none;
	}
}
.form-control {
	box-shadow: none;
}
.background_overlay {
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	position: absolute;
}
.pera-content {
	p {
		margin-bottom: 0;
	}
}
.splitting.animated .char {
	-webkit-animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	animation: fadeInUp 0.4s cubic-bezier(0.3, 0, 0.7, 1) both;
	-webkit-animation-delay: calc(30ms * var(--char-index));
	animation-delay: calc(30ms * var(--char-index));
}
.splitting .whitespace {
	width: 10px;
}
.href-underline {
	a {
		width: 100%;
		display: inline !important;
		background-position-y: -1px;
		background-repeat: no-repeat;
		background-size: 0 100%;
		backface-visibility: hidden;
		-webkit-backface-visibility: hidden;
		background-image: linear-gradient(transparent calc(100% - 1px), currentColor 2px);
		-webkit-transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		transition: 0.6s cubic-bezier(0.215, 0.61, 0.355, 1);
		&:hover {
			color: inherit;
			background-size: 100% 100%;
		}
	}
}
.swiper-container {
	margin-left: auto;
	margin-right: auto;
	position: relative;
	overflow: hidden;
	list-style: none;
	padding: 0;
	z-index: 1;
}
.over-hidden {
	overflow: hidden;
}
.tx-tab-btn {
	.nav-tabs .nav-item.show .nav-link,
	.nav-tabs .nav-link.active,
	.nav-tabs .nav-link {
		border: none;
		padding-top: 0;
		padding-right: 0;
		border-radius: 0;
		margin-bottom: 0;
		cursor: pointer;
		background-color: transparent;
	}
	.nav-tabs {
		border: none;
	}
	.nav {
		display: inherit;
	}
}
.img-cover {
	width: 100%;
	height: 100%;
	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}
.mc-scrollup {
	width: 50px;
	right: 20px;
	z-index: 5;
	height: 50px;
	bottom: 20px;
	display: none;
	position: fixed;
	line-height: 50px;
	border-radius: 100%;
	background-color: var(--mc-pr-c1);
	i {
		color: #fff;
	}
}
.split-line {
	overflow: hidden;
}
/*Button area*/
/*-------------------------*/
.mc-btn-1 {
	a {
		z-index: 1;
		color: #fff;
		line-height: 1;
		font-size: 16px;
		font-weight: 600;
		padding: 28px 40px;
		white-space: nowrap;
		position: relative;
		font-family: var(--mc-heading1);
		background-color: var(--mc-pr-c1);
		&:before {
			top: 0;
			left: 0;
			z-index: -1;
			width: 0%;
			content: '';
			height: 100%;
			position: absolute;
			background-color: #F7CFB2;
			transition: all 500ms ease-in-out;
		}
		span {
			position: relative;
			&:before {
				left: 0;
				right: 0;
				width: 0%;
				content: '';
				bottom: -3px;
				height: 1px;
				margin: 0 auto;
				position: absolute;
				background-color: var(--mc-title-color);
				transition: all 500ms ease-in-out;
			}
		}
		i {
			margin-left: 5px;
			transform: rotate(-45deg);
			transition: all 300ms ease-in-out;
		}
		@media #{$xs} { 
			padding: 24px 30px;
		}
		@media #{$xxs} { 
			padding: 20px 25px;
		}
		&:hover {
			color: var(--mc-title-color);
			&:before {
				width: 100%;
			}
			span {
				&:before {
					width: 100%;
					transition-delay: 400ms;
				}
			}
			i {
				transform: rotate(0deg);
			}
		}
	}
}
.mc-btn-2 {
	a {
		z-index: 1;
		font-weight: 700;
		padding: 20px 35px;
		position: relative;
		color: var(--mc-title-color);
		background-color: var(--mc-pr-c2);
		i {
			margin-left: 5px;
		}
		@media #{$xs} { 
			padding: 16px 28px;
		}
		@media #{$xxs} { 
			font-size: 14px;
			font-weight: 600;
			padding: 13px 20px;
		}
		&:before {
			left: 0;
			width: 0;
			right: 0;
			bottom: 0;
			z-index: -1;
			content: '';
			height: 100%;
			margin: 0 auto;
			position: absolute;
			background-color: var(--mc-pr-c3);
			transition: all 500ms ease-in-out;
		}
		&:hover {
			color: #fff;
			&:before {
				width: 100%;
			}
		}
	}
}
.cg-circle-btn {
	a {
		color: #fff;
		width: 193px;
		height: 193px;
		display: flex;
		font-size: 14px;
		overflow: hidden;
		font-weight: 600;
		text-align: center;
		position: relative;
		align-items: center;
		border-radius: 100%;
		justify-content: center;
		background-color: #FFFFFF0D;
		span {
			display: block;
		}
		i {
			display: block;
			margin-bottom: 5px;
			svg {
				path {
					fill: #fff;
					transition: all 300ms ease-in-out;
				}
			}
		}
	}
	&:is(.ver_2) {
		a {
			background-color: var(--cg-pr-c1);
		}
	}
}
.bi-btn-main b {
	position: absolute;
	content: "";
	width: 0px;
	height: 0px;
	left: 0;
	top: 0;
	background-color:  #fff;
	z-index: -1;
	border-radius: 100%;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.bi-btn-main:hover {
	color: var(--mc-pr-c1);
	i {
		svg {
			path {
				fill: var(--mc-pr-c1);
			}
		}
	}
	b {
		width: 650px;
		height: 650px;
	}
} 
/*Section Title area*/
/*-------------------------*/
.mc-sec-title1 {
	.subtitle {
		color: #000000;
		font-size: 24px;
		font-weight: 500;
		margin-bottom: 20px;
		padding-bottom: 12px;
		font-family: var(--mc-heading1);
		border-bottom: 1px solid #D3EAF2;
		@media #{$xxs} { 
			font-size: 20px;
			padding-bottom: 8px;
			margin-bottom: 12px;
		}
	}
	.sec_title {
		font-size: 70px;
		font-weight: 500;
		line-height: 1;
		@media #{$xl} {
			font-size: 60px;
		}
		@media #{$lg} {
			font-size: 55px;
		}
		@media #{$md,$sm} {
			font-size: 50px;
		}
		@media #{$xs} {
			font-size: 45px;
		}
		@media #{$xxs} {
			font-size: 40px;
		}
		@media #{$xxxs} {
			font-size: 35px;
		}
	}
	.split-line {
		padding-bottom: 5px;
	}
}
.mc-sec-title2 {
	.sec_title {
		font-size: 120px;
		line-height: .85;
		span {
			margin-left: 140px;
			@media #{$sm,$xs,$xxs} {
				margin-left: 0;
			}
		}
		@media #{$xl} {
			font-size: 90px;
		}
		@media #{$lg} {
			font-size: 70px;
		}
		@media #{$md,$sm} {
			font-size: 60px;
		}
		@media #{$xs} {
			font-size: 55px;
		}
		@media #{$xxs} {
			font-size: 48px;
		}
	}
	.split-line {
		padding-bottom: 5px;
	}
	p {
		padding-top: 50px;
	}
}
// txa-common-css-start

@for $i from 1 through 40 {
	.mt-#{5 * $i}{margin-top: 5px * $i;}
}

@for $i from 1 through 40 {
	.mb-#{5 * $i}{margin-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.ml-#{5 * $i}{margin-left: 5px * $i;}
}

@for $i from 1 through 40 {
	.mr-#{5 * $i}{margin-right: 5px *$i;}
}

@for $i from 1 through 40 {
	.pt-#{5 * $i}{padding-top: 5px *$i;}
}

@for $i from 1 through 60 {
	.pb-#{5 * $i}{padding-bottom: 5px *$i;}
}

@for $i from 1 through 40 {
	.pl-#{5 * $i}{padding-left: 5px *$i;}
}

@for $i from 1 through 40 {
	.pr-#{5 * $i}{padding-right: 5px *$i;}
}