/*=========
Font load
===========*/
@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Montserrat+Alternates:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 900;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-Black.ttf") format("truetype");

}
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 800;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-Black.ttf") format("truetype");

}
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-Bold.ttf") format("truetype");

}
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-SemiBold.ttf") format("truetype");

}
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 500;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-Medium.ttf") format("truetype");

}
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 400;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-Regular.ttf") format("truetype");

}
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 300;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-Light.ttf") format("truetype");

}
@font-face {
	font-family: 'RecoletaAlt';
	font-style: normal;
	font-weight: 200;
	font-display: auto;
	src: url("../fonts/RecoletaAlt-Thin.ttf") format("truetype");

}
:root {
	--mc-pr-c1: #095091;
	--mc-body-color: #032532;
	--mc-body-color2: #4B5563;
	--mc-title-color: #043460;
	--mc-heading1: "Montserrat Alternates", sans-serif;
	--mc-heading2: "RecoletaAlt";
	--mc-heading3: "Cabinet Grotesk", sans-serif;
	--mc-heading4: "Satoshi", sans-serif;
	--mc-heading5: "Noto Serif", sans-serif;
	--mc-body-font: "Satoshi", sans-serif;
	--mc-body-font2: "Lexend", sans-serif;
	--cube-1: cubic-bezier(0.55, 0.085, 0, 0.99);
	--cube-2: all .25s cubic-bezier(.645,.045,.355,1);
	--cube-3: cubic-bezier(0.25, 1, 0.5, 1);
}

// Responsive Variables
$over:'(min-width: 1800px)';
$xxxl: 'only screen and (min-width: 1600px) and (max-width: 1799px)';
$xxl: 'only screen and (min-width: 1400px) and (max-width: 1599px)';
$xl: 'only screen and (min-width: 1200px) and (max-width: 1399px)';
$lg: 'only screen and (min-width: 992px) and (max-width: 1199px)';
$md:'only screen and (min-width: 768px) and (max-width: 991px)';
$sm: 'only screen and (min-width: 576px) and (max-width: 767px)';
$xs:'only screen and (min-width: 481px) and (max-width: 575px)';
$xxs:'(max-width: 480px)';
$xxxs:'(max-width: 360px)';