/*----------------------------------------------------

1. Global Area 
2. Header Section

******* HOME PAGE 1 *******



=====================================================================*/


@import "template";
@import "header";
@import "offcanvas";
@import "search";

/*global area*/
/*----------------------------------------------------*/
@import "predefine";
/*---------------------------------------------------- */

/******* HOME PAGE 1 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/hero";
/*---------------------------------------------------- */
/*Hero area*/
/*----------------------------------------------------*/
@import "home_1/about";
/*---------------------------------------------------- */
/*Service area*/
/*----------------------------------------------------*/
@import "home_1/service";
/*---------------------------------------------------- */
/*Commit area*/
/*----------------------------------------------------*/
@import "home_1/commit";
/*---------------------------------------------------- */
/*Why Choose area*/
/*----------------------------------------------------*/
@import "home_1/why-choose";
/*---------------------------------------------------- */
/*Process area*/
/*----------------------------------------------------*/
@import "home_1/process";
/*---------------------------------------------------- */
/*Text Scroll area*/
/*----------------------------------------------------*/
@import "home_1/text-scroll";
/*---------------------------------------------------- */
/*Text Scroll area*/
/*----------------------------------------------------*/
@import "home_1/text-scroll";
/*---------------------------------------------------- */
/*Treatment rate area*/
/*----------------------------------------------------*/
@import "home_1/treatment-rate";
/*---------------------------------------------------- */
/*Partner area*/
/*----------------------------------------------------*/
@import "home_1/partner";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_1/team";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_1/blog";
/*---------------------------------------------------- */
/*Contact area*/
/*----------------------------------------------------*/
@import "home_1/contact";
/*---------------------------------------------------- */


/******* HOME PAGE 2 *******/

/*Hero area*/
/*----------------------------------------------------*/
@import "home_2/hero";
/*---------------------------------------------------- */
/*Feature area*/
/*----------------------------------------------------*/
@import "home_2/feature";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_2/about";
/*---------------------------------------------------- */
/*Treatment area*/
/*----------------------------------------------------*/
@import "home_2/treatment";
/*---------------------------------------------------- */
/*Before After area*/
/*----------------------------------------------------*/
@import "home_2/before-after";
/*---------------------------------------------------- */
/*Cta area*/
/*----------------------------------------------------*/
@import "home_2/cta";
/*---------------------------------------------------- */
/*Counter area*/
/*----------------------------------------------------*/
@import "home_2/counter";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_2/team";
/*---------------------------------------------------- */
/*Appointment area*/
/*----------------------------------------------------*/
@import "home_2/appointment";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_2/testimonial";
/*---------------------------------------------------- */

/******* HOME PAGE 3 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_3/hero";
/*---------------------------------------------------- */
/*Treatment area*/
/*----------------------------------------------------*/
@import "home_3/treatment";
/*---------------------------------------------------- */
/*eye service area*/
/*----------------------------------------------------*/
@import "home_3/eye-service";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_3/about";
/*---------------------------------------------------- */
/*Counter area*/
/*----------------------------------------------------*/
@import "home_3/counter";
/*---------------------------------------------------- */
/*Cta area*/
/*----------------------------------------------------*/
@import "home_3/cta";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_3/testimonial";
/*---------------------------------------------------- */
/*Appointment area*/
/*----------------------------------------------------*/
@import "home_3/appointment";
/*---------------------------------------------------- */
/*Process area*/
/*----------------------------------------------------*/
@import "home_3/process";
/*---------------------------------------------------- */
/*Team area*/
/*----------------------------------------------------*/
@import "home_3/team";
/*---------------------------------------------------- */
/*Faq area*/
/*----------------------------------------------------*/
@import "home_3/faq";
/*---------------------------------------------------- */
/*Contact area*/
/*----------------------------------------------------*/
@import "home_3/contact";
/*---------------------------------------------------- */


/******* HOME PAGE 4 *******/
/*Hero area*/
/*----------------------------------------------------*/
@import "home_4/hero";
/*---------------------------------------------------- */
/*cta card area*/
/*----------------------------------------------------*/
@import "home_4/cta-card";
/*---------------------------------------------------- */
/*About area*/
/*----------------------------------------------------*/
@import "home_4/about";
/*---------------------------------------------------- */
/*Department area*/
/*----------------------------------------------------*/
@import "home_4/department";
/*---------------------------------------------------- */
/*play area*/
/*----------------------------------------------------*/
@import "home_4/play";
/*---------------------------------------------------- */
/*Counter why choose area*/
/*----------------------------------------------------*/
@import "home_4/count-wc";
/*---------------------------------------------------- */
/*Sponsor area*/
/*----------------------------------------------------*/
@import "home_4/sponsor";
/*---------------------------------------------------- */
/*Process area*/
/*----------------------------------------------------*/
@import "home_4/process";
/*---------------------------------------------------- */
/*benefit area*/
/*----------------------------------------------------*/
@import "home_4/benefit";
/*---------------------------------------------------- */
/*Testimonial area*/
/*----------------------------------------------------*/
@import "home_4/testimonial";
/*---------------------------------------------------- */
/*CTA area*/
/*----------------------------------------------------*/
@import "home_4/cta";
/*---------------------------------------------------- */
/*Price area*/
/*----------------------------------------------------*/
@import "home_4/price";
/*---------------------------------------------------- */
/*Blog area*/
/*----------------------------------------------------*/
@import "home_4/blog";
/*---------------------------------------------------- */



/*Footer Section*/
/*----------------------------------------------------*/
@import "footer";
/*---------------------------------------------------- */