.mc-appoint2-sec {
	background-color: #F8F8FF;
	.mc-appoint2-img {
		top: 0;
		left: 0;
		width: 38%;
		height: 100%;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			width: 100%;
			max-height: 550px;
			margin-bottom: 40px;
			position: static !important;
		}
	}
}
.mc-appoint2-form {
	max-width: 820px;
	@media #{$xl} {
		max-width: 700px;
	}
	@media #{$lg,$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
	.mc-sec-title2 {
		p {
			max-width: 670px;
		}
	}
}
.mc-appt2-form {
	input,select,textarea {
		width: 100%;
		height: 68px;
		color: #032532;
		appearance: none;
		padding-left: 30px;
		border-radius: 8px;
		margin-bottom: 18px;
		background-color: #fff;
		border: 1px solid #EBEBEB;
		&::placeholder {
			color: #032532;
		}
	}
	.input-field {
		position: relative;
		span {
			top: 20px;
			right: 20px;
			position: absolute;
		}
	}
	textarea {
		height: 155px;
		padding-top: 20px;
	}
	button {
		border: none;
		border: none;
		font-weight: 700;
		padding: 20px 35px;
		color: var(--mc-title-color);
		background-color: var(--mc-pr-c2);
		i {
			margin-left: 5px;
		}
	}
}