.mc-contact4-sec {
	margin: 0 50px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0px;
	}
}
.mc-contact4-content {
	gap: 30px;
	@media #{$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
}
.mc-contact4-img {
	.item-img {
		overflow: hidden;
		border-radius: 24px;
	}
}
.mc-contact4-form {
	max-width: 730px;
	border-radius: 20px;
	padding: 75px 55px;
	background-color: #E6DAF3;
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
		padding: 50px 25px;
	}
	.mc-appt2-form button {
		border-radius: 8px;
	}
}