.mc-department2-sec {
	margin: 0px 50px;
	border-radius: 23px;
	background-color: #FFF1EB;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0px;
		padding-left: 15px;
		padding-right: 15px;
	}
}
.mc-department2-content {
	margin: 0 auto;
	max-width: 1505px;
	.mc-team2-circle {
		max-width: 320px;
		max-height: 320px;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			max-width: 100%;
			max-height: 100%;
		}
		h3 span {
			font-size: 130px;
			font-weight: 700;
		}
		p {
			font-size: 30px;
		}
	}
}
.mc-department2-top-content {
	gap: 15px 20px;
	.mc-sec-title4 {
		max-width: 700px;
	}
	.mc-btn-2 {
		a {
			background-color: #fff;
		}
	}
}
.mc-dept-item {
	overflow: hidden;
	border-radius: 14px;
	margin-bottom: 30px;
	&:before {
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		content: '';
		position: absolute;
		background: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, #000000 100%);
	}
	.item-icon {
		top: 20px;
		left: 20px;
		width: 100px;
		height: 100px;
		border-radius: 100%;
		position: absolute;
		background-color: #fff;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			width: 80px;
			height: 80px;
			padding: 20px;
		}
	}
	.item-text {
		left: 30px;
		bottom: 45px;
		position: absolute;
		@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
			left: 20px;
			bottom: 25px;
		}
		span {
			color: #fff;
			padding-bottom: 10px;	
			@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
				font-size: 16px;
			}
		}
		h3 {
			color: #fff;
			font-size: 28px;
			font-weight: 700;
			@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
				font-size: 25px;
			}
		}
	}
}