.mc-price4-content {
	margin: 0 auto;
	max-width: 1535px;
	padding-left: 15px;
	padding-right: 15px;
	.mc-sec-title4 {
		max-width: 580px;
	}
}
.mc-price4-list-item {
	gap: 30px 40px;
	margin-bottom: 30px;
	padding: 30px 45px;
	border-radius: 10px;
	background-color: #B1E2F6;
	justify-content: space-between;
	@media #{$sm,$xs,$xxs} {
		flex-wrap: wrap;
	}
	@media #{$xxs} {
		padding: 40px 20px;
	}
	&:is(.ver_2) {
		background-color: #D0FDB3;
		.mc-btn-2 {
			&:is(.ver_3) {
				a {
					&:before {
						background-color: var(--mc-pr-c2);
					}
				}
			}
		}
	}
	.mc-price4-title {
		.item-info {
			gap: 18px;
			i {
				color: #fff;
			}
			.info-text {
				h3 {
					font-size: 26px;
					font-weight: 700;
				}
				span {
					font-size: 15px;
				}
			}
		}
		.item-price {
			font-size: 50px;
			font-weight: 700;
			color: var(--mc-title-color);
			span {
				font-size: 16px;
			}
		}
		.mc-btn-2 {
			&:is(.ver_3) {
				a {
					background-color: #fff;
				}
			}
		}
	}
	ul {
		width: 100%;
		max-width: 325px;
		border-radius: 25px;
		padding: 35px 40px 0px;
		background-color: #FFFFFF66;
		@media #{$sm,$xs,$xxs} {
			max-width: 100%;
		}
	}
	li {
		margin-bottom: 30px;
		align-items: center;
		display: flex !important;
		color: var(--mc-title-color);
		justify-content: space-between;
		i {
			transition: all 500ms ease-in-out;
		}
		&:hover {
			i {
				color: var(--mc-pr-c2);
			}
		}
	}
}