.mc-process4-sec {
	z-index: 2;
	margin: 0 50px;
	position: relative;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0px;
	}
}
.mc-process4-pin {
	border-radius: 23px;
	background-color: #B1E2F6;
}
.mc-process4-content {
	margin: 0 auto;
	max-width: 1480px;
	padding-left: 15px;
	padding-right: 15px;
	.mc-sec-title4 {
		max-width: 700px;
	}
}
.mc-proc4-item {
	margin-bottom: 30px;
	.item-img {
		width: 245px;
		height: 245px;
		margin: 0 auto;
		overflow: hidden;
		margin-bottom: 45px;
		border-radius: 100%;
	}
	.item-label {
		left: 0;
		right: 0;
		z-index: 1;
		bottom: 40px;
		width: 245px;
		height: 179px;
		margin: 0 auto;
		position: absolute;
		svg {
			left: 0;
			z-index: -1;
			bottom: 67px;
			position: absolute;
		}
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 700;
			padding-bottom: 10px;
		}
		p {
			margin: 0 auto;
			max-width: 280px;
		}
	}
}