.mc-sponsor4-sec {
	margin: 0 50px;
	@media #{$xxl,$xl,$lg,$md,$sm,$xs,$xxs} {
		margin: 0px;
	}
}
.mc-sponsor4-pin {
	border-radius: 23px;
	background-color: #E6DAF3;
}
.mc-sponsor4-content {
	margin: 0 auto;
	max-width: 1540px;
	padding-left: 15px;
	padding-right: 15px;
	.mc-sec-title4 {
		max-width: 700px;
	}

}
.mc-sponsor4-img4 {
	display: flex;
	flex-wrap: wrap;
	border-top: 1px solid #00000026;
	border-left: 1px solid #00000026;
}
.mc-spon4-item {
	width: 16.66%;
	@media #{$lg,$md} {
		width: 25%;
	}
	@media #{$sm,$xs,$xxs} {
		width: 33.33%;
	}
	@media #{$xs,$xxs} {
		width: 50%;
	}
	.item-img {
		width: 100%;
		display: flex;
		height: 200px;
		padding: 15px;
		align-items: center;
		justify-content: center;
		border-bottom: 1px solid #00000026;
		border-right: 1px solid #00000026;
		@media #{$xs,$xxs} {
			height: 150px;
		}
	}
}