.mc-testimonial4-sec {
	.container {
		max-width: 1330px;
	}
}
.mc-testi4-content {
	gap: 40px 30px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		flex-wrap: wrap;
		justify-content: center !important;
	}
}
.mc-testi4-img-wrap {
	max-width: 575px;
	@media #{$xs,$xxs} {
		max-width: 100%;
	}
}
.mc-test4-img {
	width: 100%;
	overflow: hidden;
	border-radius: 35px;
	img {
		opacity: 0;
		visibility: hidden;
		transform: scale(1.2);
		transition: all 500ms ease-in-out;
	}
	span {
		left: 15px;
		top: 15px;
		color: #fff;
		width: 90px;
		height: 90px;
		display: flex;
		font-size: 30px;
		position: absolute;
		align-items: center;
		border-radius: 100%;
		justify-content: center;
		background-color: var(--mc-pr-c1);
	}
}
.mc-testi4-text-wrap {
	max-width: 630px;
	@media #{$xl} {
		max-width: 550px;
	}
	@media #{$md,$sm,$xs,$xxs} {
		max-width: 100%;
	}
}
.mc-testi4-text-item {
	span {
		font-size: 24px;
		font-weight: 700;
		color: var(--mc-title-color);
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
	}
	p {
		font-size: 26px;
		padding: 40px 0px 50px;
		opacity: 0;
		visibility: hidden;
		transform: translateY(20px);
		transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
	}
	.mc-testi4-author {
		h3 {
			font-size: 22px;
			font-weight: 700;
			color: var(--mc-title-color);
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
			transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
		}
		b {
			font-size: 14px;
			font-weight: 500;
			opacity: 0;
			visibility: hidden;
			display: inline-block;
			transform: translateY(20px);
			transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
		}
		.item-rate {
			font-size: 15px;
			font-weight: 700;
			padding: 5px 15px;
			border-radius: 35px;
			color: var(--mc-title-color);
			background-color: var(--mc-pr-c2);
			opacity: 0;
			visibility: hidden;
			transform: translateY(20px);
			transition: 1000ms cubic-bezier(0.5, -0.75, 0.3, 2.5);
		}
	}
}
.mc-testi4-img-slide,
.mc-testi4-text-slide {
	display: flex;
}
.mc-testi4-nav {
	left: 0;
	right: 0;
	gap: 10px;
	z-index: 2;
	bottom: 40px;
	position: absolute;
	div {
		width: 60px;
		height: 60px;
		color: #202124;
		border-radius: 100%;
		background-color: #fff;
		transition: all 300ms ease-in-out;
		&:hover {
			background-color: var(--mc-pr-c2);
		}
	}
}
.swiper-slide-active {
	.mc-test4-img {
		img {
			opacity: 1;
			transform: scale(1);
			visibility: visible;
		}
	}
	.mc-testi4-text-item { 
		span {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition-delay: 100ms;
		}
		p {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition-delay: 200ms;
		}	
		.mc-testi4-author {
			h3 {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				transition-delay: 300ms;
			}
			b {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				transition-delay: 500ms;
			}
			.item-rate {
				opacity: 1;
				visibility: visible;
				transform: translateY(0);
				transition-delay: 500ms;
			}
		}
	}
}