.mc-contact6-sec {
	z-index: 1;
	padding-top: 400px;
	background-color: #F6F3EE;
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 120px;
	}
	&:before {
		left: 0;
		bottom: 0;
		z-index: -1;
		width: 100%;
		content: '';
		height: 125px;
		position: absolute;
		background-image: url(../img/bg/ft-bg3.jpg);
	}
	.mc-contact6-bg {
		top: 0;
		left: 0;
		z-index: -2;
		width: 100%;
		height: 100%;
		clip-path: polygon( 100% 100%,0% 100%,0% 9.341%,30.26% 22.747%,84.74% 15.824%,100% 0%,100% 100% );
		@media #{$md,$sm,$xs,$xxs} {
			clip-path: none;
		}
	}
}
.mc-contact6-form-area {
	padding: 60px 50px;
	background-color: #D7DDCB;
	@media #{$xxs} {
		padding: 40px 20px;
	}
	&:is(.ver_2) {
		z-index: 2;
		max-width: 530px;
		position: relative;
		background-color: #E7EFF8;
		@media #{$md,$sm,$xs,$xxs} {
			max-width: 100%;
		}
		.input-field {
			label {
				color: var(--mc-title-color3);
				font-family: var(--mc-heading6);
			}
			input,textarea {
				border-bottom: 1px solid #515F66;
			}
		}
		button {
			display: flex;
			font-weight: 500;
			border-radius: 100px;
			align-items: center;
			font-family: var(--mc-heading6);
			padding: 10px 10px 10px 28px;
			background-color: var(--mc-title-color3);
			i {
				width: 36px;
				height: 36px;
				display: flex;
				font-size: 14px;
				margin-left: 10px;
				align-items: center;
				border-radius: 100%;
				background-color: #fff;
				justify-content: center;
				color: var(--mc-title-color3);
				transform: rotate(-45deg);
			}
			&:hover {
				color: var(--mc-title-color3);
				background-color: var(--mc-pr-c11);
			}
		}
	}
}
.mc-contact6-form-area {
	width: 100%;
	max-width: 540px;
	border-radius: 16px;
	h3 {
		font-size: 30px;
		font-weight: 500;
		padding-bottom: 38px;
	}
	.input-field {
		margin-bottom: 30px;
		label {
			display: block;
			line-height: 1;
			font-size: 12px;
			font-weight: 500;
			letter-spacing: 2px;
		}
		input,textarea {
			width: 100%;
			height: 40px;
			border: none;
			background-color: transparent;
			border-bottom: 1px solid #676869;
			transition: all 200ms ease-in-out;
			&::placeholder {
				opacity: #676869B8;
			}
			&:focus {
				border-bottom: 1px solid var(--mc-pr-c10);
			}
		}
		textarea {
			height: 75px;
			padding-top: 10px;
		}
	}
	button {
		color: #fff;
		border: none;
		line-height: 1;
		font-weight: 600;
		border-radius: 4px;
		padding: 20px 30px;
		text-transform: capitalize;
		background-color: #262626;
		transition: all 200ms ease-in-out;
		font-family: var(--mc-heading5);
		i {
			margin-left: 5px;
		}
		&:hover {
			background-color: var(--mc-pr-c10);
		}
	}
}