.mc-hero6-content {
	padding-bottom: 15px;
	background-color: var(--mc-pr-c10);
	clip-path: polygon( 0% 78.644%,0% 0%,99.948% 0%,99.974% 68.87%,84.487% 88.023%,30.349% 100%,0% 78.644% );
	@media #{$sm,$xs,$xxs} {
		clip-path: none;
		padding-bottom: 0;
	}
}
.mc-hero6-item {
	z-index: 1;
	background-color: #EEE4E2;
	padding: 230px 0px 260px;
	clip-path: polygon( 0% 82.562%,0% 0%,100% 0%,100% 66.311%,84.531% 92.408%,56.068% 98.814%,30.286% 100%,0% 82.562% );
	@media #{$sm} {
		padding: 150px 0px 160px;
	}
	@media #{$xs,$xxs} {
		clip-path: none;
		padding: 200px 0px 120px;
	}
	.mc-hero6-img {
		right: 0;
		bottom: 0;
		z-index: -1;
		opacity: 0;
		width: 100%;
		height: 100%;
		filter: blur(5px);
		visibility: hidden;
		transform: scale(1.3);
		transform-origin: bottom;
		transition: all 1500ms ease-in-out;
	}
	.mc-hr6-shape1 {
		top: 0%;
		left: -25%;
		transition: all 1200ms ease-in-out;
	}
	.mc-hr6-shape2 {
		bottom: -25%;
		left: 5%;
		transition: all 1200ms ease-in-out;
	}
	.mc-hr6-shape3 {
		right: -25%;
		bottom: 20%;
		transition: all 1500ms ease-in-out;
		@media #{$xs,$xxs} {
			display: none;
		}
	}
}
.mc-hero6-text {
	z-index: 1;
	max-width: 480px;
	position: relative;
	@media #{$xxl} {
		margin-left: 50px;
	}
	.hr6-title {
		font-size: 60px;
		font-weight: 500;
		line-height: 1.09;
		padding-bottom: 25px;
		.split-word {
			opacity: 0;
			transition-delay: 0s;
			transform: translateY(100%) scaleY(-0.8);
			transition:  .8s cubic-bezier(0.2, 0.8, 0.2, 1);
		}
		@media #{$xxs} {
			font-size: 50px;
		}
		@media #{$xxxs} {
			font-size: 45px;
		}
	}
	p {
		opacity: 0;
		visibility: hidden;
		padding-bottom: 32px;
		transform: translateY(30px);
		transition:  .8s cubic-bezier(0.2, 0.8, 0.2, 1);
	}
	.mc-hr6-btn {
		opacity: 0;
		visibility: hidden;
		transform: scaleY(0);
		transition:  .8s cubic-bezier(0.2, 0.8, 0.2, 1);
		a {
			z-index: 1;
			color: #fff;
			overflow: hidden;
			font-weight: 600;
			border-radius: 8px;
			padding: 14px 28px;
			position: relative;
			font-family: var(--mc-heading5);
			background-color: var(--mc-pr-c10);
			&:before {
				left: 0;
				z-index: -1;
				content: '';
				width: 100%;
				height: 0%;
				position: absolute;
				background-color: var(--mc-pr-c9);
				transition: all 500ms ease-in-out;
			}
			&:before {
				top: -100%;
			}
			i {
				margin-left: 8px;
			}
			&:hover {
				color: #000;
				&:before {
					top: 0;
					left: 0;
					height: 100%;
					transition: all 500ms ease-in-out;
				}
			}
		}
	}
}
.mc-slide-counter {
	top: 42%;
	left: 60px;
	z-index: 2;
	position: absolute;
	transform: translateY(-50%);
	@media #{$xxl} {
		left: 30px;
	}
	@media #{$xl,$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
	.swiper-pagination-bullet {
		height: 50%;
		width: 2px;
	}
	.total,
	.current {
		font-size: 20px;
		font-weight: 500;
		color: var(--mc-pr-c10);
		font-family: var(--mc-heading5);
	}
}
.mc-hr6-pagi {
	opacity: 1;
	height: 258px;
	overflow: hidden;
	margin: 15px 10px !important;
	width: 2px !important;
	background-color: rgba(38, 38, 38, .16);
	.swiper-pagination-bullet {
		width: 2px;
		height: 33%;
		display: block;
		border-radius: 0;
		margin: 0 !important;
		position: relative; 
		transform-origin: top;
		transition: all 500ms ease-in-out;
		background-color: transparent;
		&:before {
			top: 0;
			left: 0;
			width: 100%;
			height: 0%;
			content: '';
			position: absolute;
			transition: all 800ms ease-in-out;
			background-color: var(--mc-pr-c10);
		}
		&:is(.swiper-pagination-bullet-active) {
			&:before {
				height: 100%;
			}
		}
	}
}
.swiper-slide-active {
	.mc-hero6-item {
		.mc-hero6-img {
			opacity: 1;
			visibility: visible;
			transform: scale(1);
			filter: blur(0px);
		}
		.mc-hr6-shape1 {
			top: -12%;
			left: -12%;
			transition-delay: 500ms;
		}
		.mc-hr6-shape2 {
			left: 25%;
			bottom: -5%;
			transition-delay: 800ms;
		}
		.mc-hr6-shape3 {
			right: 0%;
			bottom: 40%;
			transition-delay: 1000ms;
		}
	}
	.mc-hero6-text {
		.hr6-title {
			.split-word {
				transform: translateY(0%) scaleY(1);
				opacity: 1;
				transition-delay: 0.7s;
				&:nth-child(2) {
					transition-delay: 0.9s;
				}
				&:nth-child(3) {
					transition-delay: 1.1s;
				}
				&:nth-child(4) {
					transition-delay: 1.3s;
				}
				&:nth-child(5) {
					transition-delay: 1.5s;
				}
			}
		}
		p {
			opacity: 1;
			visibility: visible;
			transform: translateY(0);
			transition-delay: 1.5s;
		}
		.mc-hr6-btn {
			opacity: 1;
			visibility: visible;
			transform: scaleY(1.0);
			transition-delay: 1.8s;
		}
	}
}