 @keyframes expandWidth {
 	0% { width: 0%; }
 	100% { width: 100%; }
 }
 .mc-ser6-sec {
 	z-index: 1;
 	margin-top: -50px;
 	padding-top: 405px;
 	padding-bottom: 235px;
 	@media #{$lg,$md,$sm,$xs,$xxs} {
 		margin-top: 50px;
 		padding: 100px 0px 60px;
 	}
 	&:before {
 		left: 0;
 		width: 100%;
 		content: '';
 		height: 100%;
 		z-index: -2;
 		bottom: 50px;
 		position: absolute;
 		background-color: #BDD1D9;
 		clip-path: polygon(578.5px 286px, 0px 136px, 0px 1842px, 475px 1651.5px, 1221.5px 1843px, 1920px 1655px, 1920px 0px, 1572.5px 265.5px, 578.5px 286px); 
 		@media #{$lg,$md,$sm,$xs,$xxs} {
 			display: none;
 		}
 	}
 	.mc-ser6-bg {
 		top: 0;
 		left: 0;
 		z-index: -1;
 		clip-path: polygon(581px 277px, 0px 85px, 0px 1761px, 475px 1640px, 1223px 1764px, 1920px 1661px, 1920px 0px, 1627px 169px, 581px 277px); 
 		@media #{$lg,$md,$sm,$xs,$xxs} {
 			clip-path: none;
 		}
 		&:before {
 			top: 0;
 			left: 0;
 			width: 100%;
 			content: '';
 			height: 100%;
 			opacity: .72;
 			position: absolute;
 			background-color: #F3F4F6;
 		}
 	}
 	.mc-sec-title6 {
 		margin: 0 auto;
 		max-width: 760px;
 	}
 }

 .mc-ser6-item {
 	z-index: 1;
 	margin-bottom: 40px;
 	padding: 65px 52px 45px;
 	border: 1px solid #FFFFFF;
 	@media #{$xxs} {
 		padding: 50px 30px 30px;
 	}
 	.item-icon {
 		z-index: 1;
 		width: 75px;
 		height: 75px;
 		margin-left: 15px;
 		&:before {
 			top: -15px;
 			left: -15px;
 			z-index: -1;
 			width: 67px;
 			content: '';
 			height: 73px;
 			opacity: .4;
 			position: absolute;
 			background-color: #fff;
 			transition: all 500ms ease-in-out;
 			clip-path: polygon( 100% 54.469%,100% 54.469%,99.346% 63.022%,97.451% 70.635%,94.419% 77.318%,90.353% 83.079%,85.355% 87.927%,79.529% 91.874%,72.978% 94.926%,65.804% 97.095%,58.111% 98.39%,50.002% 98.819%,50.002% 98.819%,41.891% 98.39%,34.197% 97.095%,27.023% 94.926%,20.471% 91.874%,14.645% 87.927%,9.647% 83.079%,5.581% 77.318%,2.549% 70.635%,0.654% 63.022%,0% 54.469%,0% 54.469%,0.654% 45.634%,2.549% 37.252%,5.581% 29.437%,9.647% 22.3%,14.645% 15.953%,20.471% 10.509%,27.023% 6.079%,34.197% 2.777%,41.891% 0.713%,50.002% 0%,50.002% 0%,58.111% 0.713%,65.804% 2.777%,72.978% 6.079%,79.529% 10.509%,85.355% 15.953%,90.353% 22.3%,94.419% 29.437%,97.451% 37.252%,99.346% 45.634%,100% 54.469% );
 		}
 	}
 	.item-img {
 		top: 0;
 		width: 0;
 		right: 0;
 		left: auto;
 		z-index: -1;
 		height: 100%;
 		transition: all 500ms ease-in-out;
 		&:before {
 			top: 0;
 			left: 0;
 			width: 100%;
 			height: 100%;
 			content: '';
 			position: absolute;
 			background-color: rgba(255, 255, 255, .2);
 		}
 	}
 	.item-text {
 		h3 {
 			font-size: 28px;
 			font-weight: 600;
 			margin-bottom: 26px;
 			a {
 				padding-bottom: 18px;
 			}
 			b {
 				gap: 8px;
 				display: flex;
 				max-width: 160px;
 				align-items: center;
 				justify-content: space-between;
 				span {
 					width: 11px;
 					height: 11px;
 					clip-path: polygon( 50.127% 100%,50.127% 100%,49.662% 99.966%,49.216% 99.869%,48.793% 99.712%,48.397% 99.5%,48.033% 99.238%,47.705% 98.93%,47.416% 98.58%,47.173% 98.194%,46.977% 97.775%,46.835% 97.328%,46.835% 97.328%,46.436% 95.856%,45.971% 94.365%,45.439% 92.856%,44.84% 91.328%,44.174% 89.781%,43.442% 88.216%,42.642% 86.633%,41.776% 85.031%,40.843% 83.41%,39.844% 81.771%,39.844% 81.771%,38.568% 79.806%,37.187% 77.87%,35.703% 75.962%,34.115% 74.083%,32.422% 72.233%,30.625% 70.412%,28.724% 68.619%,26.719% 66.854%,24.609% 65.119%,22.396% 63.412%,22.396% 63.412%,20.425% 61.97%,18.455% 60.622%,16.484% 59.37%,14.514% 58.212%,12.543% 57.149%,10.573% 56.181%,8.602% 55.307%,6.632% 54.529%,4.661% 53.845%,2.691% 53.256%,2.691% 53.256%,2.237% 53.099%,1.813% 52.891%,1.423% 52.633%,1.072% 52.331%,0.762% 51.99%,0.499% 51.613%,0.287% 51.205%,0.13% 50.769%,0.033% 50.311%,0% 49.835%,0% 49.835%,0.032% 49.368%,0.126% 48.918%,0.277% 48.49%,0.482% 48.087%,0.736% 47.715%,1.036% 47.377%,1.377% 47.078%,1.757% 46.822%,2.17% 46.613%,2.612% 46.455%,2.612% 46.455%,4.537% 45.869%,6.448% 45.215%,8.345% 44.491%,10.227% 43.699%,12.095% 42.838%,13.949% 41.908%,15.789% 40.909%,17.615% 39.841%,19.426% 38.705%,21.224% 37.5%,21.224% 37.5%,23.247% 36.039%,25.203% 34.521%,27.091% 32.945%,28.911% 31.312%,30.664% 29.622%,32.349% 27.875%,33.966% 26.07%,35.516% 24.208%,36.997% 22.289%,38.411% 20.313%,38.411% 20.313%,39.594% 18.528%,40.7% 16.748%,41.73% 14.971%,42.683% 13.199%,43.559% 11.43%,44.359% 9.666%,45.083% 7.905%,45.729% 6.148%,46.3% 4.395%,46.793% 2.646%,46.793% 2.646%,46.94% 2.201%,47.139% 1.785%,47.387% 1.402%,47.679% 1.056%,48.01% 0.751%,48.376% 0.492%,48.774% 0.283%,49.198% 0.129%,49.645% 0.033%,50.111% 0%,50.111% 0%,50.581% 0.034%,51.032% 0.131%,51.46% 0.289%,51.861% 0.502%,52.23% 0.766%,52.563% 1.076%,52.855% 1.428%,53.102% 1.818%,53.3% 2.241%,53.445% 2.692%,53.445% 2.692%,53.723% 3.741%,54.03% 4.796%,54.367% 5.856%,54.733% 6.92%,55.129% 7.99%,55.554% 9.064%,56.009% 10.144%,56.494% 11.228%,57.008% 12.317%,57.552% 13.411%,57.552% 13.411%,58.275% 14.76%,59.036% 16.099%,59.837% 17.427%,60.677% 18.745%,61.556% 20.052%,62.474% 21.349%,63.431% 22.635%,64.427% 23.911%,65.462% 25.177%,66.537% 26.432%,66.537% 26.432%,67.669% 27.645%,68.828% 28.833%,70.013% 29.999%,71.224% 31.141%,72.461% 32.259%,73.724% 33.354%,75.013% 34.426%,76.328% 35.474%,77.669% 36.499%,79.036% 37.5%,79.036% 37.5%,80.843% 38.74%,82.656% 39.905%,84.474% 40.993%,86.299% 42.005%,88.129% 42.942%,89.966% 43.802%,91.808% 44.586%,93.657% 45.294%,95.511% 45.926%,97.372% 46.482%,97.372% 46.482%,97.816% 46.636%,98.231% 46.842%,98.612% 47.096%,98.956% 47.393%,99.258% 47.729%,99.514% 48.099%,99.72% 48.5%,99.873% 48.927%,99.968% 49.377%,100% 49.844%,100% 49.844%,99.967% 50.317%,99.869% 50.773%,99.713% 51.205%,99.501% 51.611%,99.238% 51.985%,98.929% 52.324%,98.577% 52.624%,98.188% 52.879%,97.766% 53.087%,97.315% 53.241%,97.315% 53.241%,96.13% 53.585%,94.938% 53.969%,93.74% 54.392%,92.534% 54.854%,91.322% 55.357%,90.103% 55.899%,88.876% 56.48%,87.643% 57.102%,86.403% 57.763%,85.157% 58.463%,85.157% 58.463%,83.656% 59.366%,82.177% 60.302%,80.719% 61.272%,79.281% 62.276%,77.865% 63.314%,76.469% 64.385%,75.094% 65.491%,73.739% 66.63%,72.406% 67.803%,71.093% 69.01%,71.093% 69.01%,69.815% 70.215%,68.583% 71.432%,67.398% 72.663%,66.26% 73.906%,65.169% 75.163%,64.125% 76.432%,63.128% 77.715%,62.177% 79.01%,61.273% 80.319%,60.416% 81.641%,60.416% 81.641%,59.415% 83.284%,58.481% 84.911%,57.613% 86.52%,56.813% 88.113%,56.079% 89.69%,55.413% 91.249%,54.814% 92.792%,54.282% 94.318%,53.817% 95.827%,53.418% 97.319%,53.418% 97.319%,53.277% 97.767%,53.083% 98.187%,52.84% 98.575%,52.552% 98.926%,52.224% 99.235%,51.859% 99.498%,51.463% 99.711%,51.04% 99.869%,50.593% 99.966%,50.127% 100% );
 					background: linear-gradient(61.2deg, #8F5341 24.12%, #F1AB98 50.68%, #8F5341 75.21%);
 				}
 				i {
 					width: 100%;
 					height: 1px;
 					max-width: 120px;
 					background: linear-gradient(61.2deg, #8F5341 24.12%, #F1AB98 50.68%, #8F5341 75.21%);
 				}
 			}
 		}
 	}
 	&:hover {
 		.item-icon {
 			&:before {
 				background-color: var(--mc-pr-c10);
 			}
 		}
 		.item-img {
 			left: 0;
 			width: 100%;
 			right: auto;
 		}
 		.item-text {
 			h3 {
 				b {
 					i {
 						animation: expandWidth 1s ease-in-out infinite;
 					}
 				}
 			}
 		}
 	}
 }