.mc-testi6-sec {
	z-index: 1;
	margin-top: -45px;
	padding-top: 385px;
	@media #{$lg,$md,$sm,$xs,$xxs} {
		padding-top: 50px;
	}
	&:before,
	&:after {
		top: 0;
		left: 0;
		width: 100%;
		content: '';
		height: 135%;
		position: absolute;
		@media #{$lg,$md,$sm,$xs,$xxs} {
			display: none;
		}
	}
	&:before {
		top: -42px;
		z-index: -2;
		background-color: #7EB392;
		clip-path: polygon( 30.13% 17.281%,0% 8.218%,0% 92.054%,33.307% 91.057%,64.948% 91.057%,100% 100%,100% 0%,81.901% 16.042%,30.13% 17.281% );
	}
	&:after {
		z-index: -1;
		background-color: #BFDAC9;
		clip-path: polygon( 30.26% 16.677%,0% 5.117%,0% 100%,25.339% 100%,63.698% 100%,100% 100%,100% 0%,84.74% 10.175%,30.26% 16.677% );
	}
	.mc-sec-title6 {
		margin: 0 auto;
		max-width: 760px;
	}
	.marquee-left {
		overflow: visible;
	}
}
.mc-testi6-item {
	z-index: 1;
	max-width: 420px;
	margin: 16px 15px;
	display: inline-block;
	.item-img {
		top: 0;
		left: 0;
		z-index: -1;
		max-width: 412px;
		overflow: hidden;
		border-radius: 20px;
		position: absolute;
		transition: all 500ms ease-in-out;
	}
	.item-text {
		width: 100%;
		padding: 55px 45px;
		border-radius: 20px;
		background-color: #D3E6DA;
		transition: all 500ms ease-in-out;
	}
	.item-author {
		margin-bottom: 80px;
		h3 {
			font-size: 22px;
			font-weight: 600;
			letter-spacing: -1px;
			padding-bottom: 8px;
		}
	}
	.item-icon {
		color: #202A23;
		font-size: 55px;
		margin-bottom: 15px;
	}
	p {
		font-size: 24px;
	}
	&:hover {
		.item-img {
			transform: translateY(-190px) rotate(-2.8deg);
		}
		.item-text {
			transform: translateY(75px) rotate(6deg);
			box-shadow: 16px 16px 28px 0px #00000029;
		}
	}
}