.mc-why-c6-sec {
	z-index: 1;
	.mc-sec-title6 {
		max-width: 830px;
	}
	.mc-wc6-shape {
		top: 10%;
		right: 0;
		z-index: -1;
	}
}
.mc-why-c6-line {
	top: 8%;
	right: 18%;
	z-index: 1;
	transition: all 1500ms ease-in-out;
	clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
	@media #{$lg,$md,$sm,$xs,$xxs} {
		display: none;
	}
	&:is(.active) {
		clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
	}
}

.mc-wc6-img {
	.inner-img {
		height: 544px;
		margin: 0 auto;
		max-width: 1096px;
		border-radius: 100%;
		transform: rotate(-39.1deg);
		animation: topMove 4s cubic-bezier(.23, 1, .32, 1) infinite;
		@media #{$md,$sm,$xs,$xxs} {
			height: 350px;
			transform: rotate(0);
			border-radius: 20px;
		}
	}
}
.mc-why-choose-content {
	padding-top: 185px;
	padding-bottom: 15px;
	@media #{$md,$sm,$xs,$xxs} {
		padding-top: 20px;
	}
}
.mc-wc6-item-wrap1 {
	left: 0;
	gap: 22px;
	z-index: 1;
	top: 120px;
	position: absolute;
	@media #{$md,$sm,$xs,$xxs} {
		position: static;
		margin: 30px 0px;
	}
	@media #{$xxs} {
		flex-wrap: wrap;
	}
	&:is(.ver_2) {
		right: 0;
		top: auto;
		left: auto;
		bottom: -120px;
	}
}
.mc-wc6-item {
	width: 243px;
	height: 296px;
	border-radius: 10px;
	padding: 50px 40px 0px;
	background-color: #F5F5F5;
	transition: all 1500ms ease-in-out;
	clip-path: polygon(0 100%, 100% 100%, 100% 100%, 0% 100%);
	&.active {
		transition-delay: 800ms;
		clip-path: polygon(0 100%, 100% 100%, 100% 0, 0 0);
	}
	&:nth-child(even) {
		&.active {
			transition-delay: 1200ms;
		}
	}
	@media #{$md,$sm,$xs} {
		width: 50%;
	}
	@media #{$xxs} {
		width: 100%;
	}
	&:nth-child(1) {
		margin-top: 75px;
		@media #{$md,$sm,$xs,$xxs} {
			margin-top: 0;
		}
	}
	.item-icon {
		width: 88px;
		height: 88px;
		margin: 0 auto;
		margin-bottom: 55px;
		border-radius: 100%;
		background-color: #fff;
	}
	.item-text {
		h3 {
			font-size: 22px;
			font-weight: 500;
			line-height: 1.27;
		}
	}
}